<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu/detail.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/chatCart.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&family=DM+Serif+Display:ital@0;1&family=Damion&family=Freeman&family=League+Gothic&family=Meddon&family=Permanent+Marker&family=Sacramento&family=Staatliches&family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@387&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Freeman&family=League+Gothic&family=Meddon&family=Sacramento&family=Staatliches&family=Teko:wght@300..700&display=swap" rel="stylesheet">

    <!--/* alert 꾸미기 */-->
    <script src = " https://unpkg.com/sweetalert/dist/sweetalert.min.js " > </script>

    <script th:inline="javascript">
        var logged_id = -1;
        var menu = [[${menu}]];

    </script>
    <title>[[${menu.name}]]</title>

</head>
<body>

    <!--/* 헤더 */-->
    <th:block th:insert="~{common/header::header}"></th:block>

    <!-- chat&cart -->
    <th:block th:insert="~{common/chatCart::chatCart}"></th:block>





    <div id="container">
        <div id="backgoundflower1"></div>
        <div id="backgoundflower2"></div>
        <img src='/img/menu/detailFrame1.png' id="backgoundframe1">
        <img src='/img/menu/detailFrame1.png' id="backgoundframe2">
        <div id="cocktailsection">
            <div id="cocktailImg">
                <div id="img"></div>
                <div id="heartImg">
                    <div id="heart"></div>
                </div>
                <div class="comment-con">
                    <textarea class="comment" placeholder="코멘트를 작성해보세요"></textarea>
                    <div class="comment-error-message"></div>
                    <div id="commentCheck"></div>
                </div>
            </div>
            <div id="cocktailInfo">
                <div id="name"></div>
                <div id="star">
                    <div class="stars"></div> <!--임시-->
                    <div class="stars"></div> <!--임시-->
                    <div class="stars"></div> <!--임시-->
                    <div class="stars"></div> <!--임시-->
                    <div class="stars"></div> <!--임시-->
                    <div>5.0</div> <!--임시-->
                </div>
                <div id="info"></div>
                <div id="price"></div>
                <div id="cart">
                    <th:block sec:authorize="hasRole('CUSTOMER')">
                        <div id="toCart">담기</div>
                    </th:block>
                </div>
            </div>
        </div>

    <div id="reviewsection">


            <section>
                <div class="containerD">
                    <div class="list">
                        <div class="review-header">
                            <span><h3>리뷰</h3></span>
                            <!-- 페이징 헤더 -->
                            <div>
                                <span>총 [[${reviewCount}]]개</span>
                                <span>
                                <form name="frmPageRows">
                                    <input type="hidden" name="page" th:value="${page}">
                                </form>
                                </span>
                            </div>
                            <!-- 페이징 헤더 -->
                        </div>
                        <hr>
                        <div class="tag_btn">
                            <input type="radio" name="sort" id="latest" value="최신순" checked>
                            <label for="latest">최신순</label>
                            <input type="radio" name="sort" id="rating" value="별점순">
                            <label for="rating">별점순</label>
                        </div>
                        <hr>


                        <div class="reviews-container">
                            <div id="review">
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

    </div>

    <div id="recentSection-con">
        <div id="recent-title">최근 본 상품</div>
        <div id="recentSection">
            <!-- 최근 항목 불러오기 -->
        </div>
    </div>

    <th:block sec:authorize="hasRole('CUSTOMER')">
        <th:block th:with="logged_user=${#authentication.principal.user}">
            <script th:inline="javascript">
                logged_id = [[${logged_user.id}]]
            </script>

            <script th:src="@{/js/common/chatCart.js}"></script>
            <script th:src="@{/js/cart/cartData.js}"></script>
            <script th:src="@{/js/chat/chatData.js}"></script>
            <script th:src="@{/js/recent/recent.js}"></script>
            <script th:src="@{/js/bookmark/bookData.js}"></script>

        </th:block>
    </th:block>
</div>

    <script th:inline="javascript">
        const menuList = [[${menuList}]];
        var reviews = [[${reviews}]];
    </script>
    <section id="footer"></section>

    <script th:src="@{/js/menu/detail.js}"></script>
</body>
</html>