<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu/detail.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/chatCart.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Freeman&family=League+Gothic&family=Meddon&family=Sacramento&family=Staatliches&family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Damion&family=Freeman&family=League+Gothic&family=Meddon&family=Permanent+Marker&family=Sacramento&family=Staatliches&family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&family=DM+Serif+Display:ital@0;1&family=Damion&family=Freeman&family=League+Gothic&family=Meddon&family=Permanent+Marker&family=Sacramento&family=Staatliches&family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@387&display=swap" rel="stylesheet">

    <script th:inline="javascript">
        var menu = [[${menu}]];
    </script>
    <title>[[${menu.name}]]</title>

</head>
<body>

    <!--/* 헤더 */-->
    <th:block th:insert="~{common/header::header}"></th:block>

    <!-- chat&cart -->
    <th:block th:insert="~{common/chatCart::chatCart}"></th:block>

    <div id="container">
        <div id="backgoundflower1"></div>
        <div id="backgoundflower2"></div>
        <img src='/img/menu/detailFrame1.png' id="backgoundframe1">
        <img src='/img/menu/detailFrame1.png' id="backgoundframe2">
        <div id="cocktailsection">
            <div id="cocktailImg">
                <div id="img"></div>
            </div>
            <div id="cocktailInfo">
                <div id="name"></div>
                <div id="star">
                    <div class="stars"></div> <!--임시-->
                    <div class="stars"></div> <!--임시-->
                    <div class="stars"></div> <!--임시-->
                    <div class="stars"></div> <!--임시-->
                    <div class="stars"></div> <!--임시-->
                    <div>5.0</div> <!--임시-->
                </div>
                <div id="info"></div>
                <div id="price"></div>
                <div id="cart">
                    <th:block sec:authorize="hasRole('CUSTOMER')">
                        <div id="toCart">담기</div>
                    </th:block>
                </div>
            </div>
        </div>

        <div id="reviewsection">

        </div>

        <th:block sec:authorize="hasRole('CUSTOMER')">
            <th:block th:with="logged_user=${#authentication.principal.user}">
                <script th:inline="javascript">
                    const logged_id = [[${logged_user.id}]]
                </script>

                <script th:src="@{/js/common/chatCart.js}"></script>
                <script th:src="@{/js/cart/cartData.js}"></script>
            </th:block>
        </th:block>
    </div>

    <script th:inline="javascript">
        const menuList = [[${menuList}]];
    </script>
    <section id="footer"></section>

    <script th:src="@{/js/menu/detail.js}"></script>
</body>
</html>