*{
    box-sizing: border-box;
}

body {
    max-width: 1300px; /* 최대 폭 지정 */
    margin: 0 auto 0 auto;
    background-color: #10573e;
    overflow-x: hidden;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    caret-color: transparent;
}

#conMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_container {
    text-align: center;
    width: 500px;
    height: 700px;
    margin: 30px;
    padding: 10px;
    background-image: url('/img/manager/menu.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.titleText {
    margin-top: 50px;
    padding-bottom: 5px;
    font-size: 55px;
    font-family: "Meddon", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.menuTable {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-family: "Noto Sans KR", sans-serif;
}

.tableList {
    background-color: #f9f9f9;
    display: table;
    width: 399px; /* 스크롤바 너비를 감안한 조정 */
    height: 40px;
    font-size: 20px;
    border: 2px solid burlywood;
}

.table-content {
    display: block;
    height: 350px; /* 원하는 높이로 설정 */
    overflow-y: scroll;
    width: 399px;
    color: black;
    border: 2px solid burlywood;
}

.table-content::-webkit-scrollbar {
    width: 5px; /* 스크롤바 너비 */
    height: 5px; /*가로 스크롤바 높이*/
}

.table-content::-webkit-scrollbar-track {
    background: none; /* 트랙 배경 색상 */
    border-radius: 10px; /* 트랙 모서리 둥글게 */
}

.table-content::-webkit-scrollbar-thumb {
    background: rgba(16, 87, 62, 0.89); /* 핸들 색상 */
    border-radius: 10px; /* 핸들 모서리 둥글게 */
}

.table-content::-webkit-scrollbar-thumb:hover {
    background: #10573e; /* 호버 시 핸들 색상 */
}

th, td {
    padding: 8px 12px;
    box-sizing: border-box;
}

.table-content tr {
    display: table;
    table-layout: fixed;
    height: 50px;
    width: 390px;
    border-top: 1px solid burlywood;
    border-bottom: 1px solid burlywood;
}

td.checkbox {
    width: 44px;
    border-right: 1px solid burlywood;
}

.ctt_name_title {
    text-align: center;
    width: 300px;
}

.ctt_name {
    text-align: center;
    font-size: 18px;
    width: 290px;
}

.sequence {
    width: 67px;
    text-align: center;
    font-size: 16px;
    border-right: 1px solid burlywood;
}

.item {
    font-family: "Noto Sans KR", sans-serif;
    width: 267px;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 50px;
}

.itemName, .itemName:hover {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    display: inline-block;
    line-height: 36px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.title, .sequence_title {
    border: 2px solid burlywood;
    width: 45px;
}

td.chg {
    width: 54px;
    border: 1px solid burlywood;
    border-right: 0;
}

.title_chg {
    width: 30px;
    border: 2px solid burlywood;
}

.ctt_name_title_chg {
    text-align: center;
    width: 180px;
}

.sequence_title {
    text-align: center;
}

.icon {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-content: center;
    justify-content: right;
}

.btn-sequence {
    margin-top: 12px;
    display: flex;
    gap: 10px;
    align-content: center;
    justify-content: right;
}

/* 기본 체크박스를 숨기고 커스텀 스타일을 적용합니다 */
.custom-checkbox {
    display: none;
}

.custom-label {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    padding-left: 0.5px;
    cursor: pointer;
    user-select: none;
}

.custom-label:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border: 2px solid sandybrown;
    border-radius: 4px;
    background-color: #fff;
}

.custom-checkbox:checked + .custom-label:before {
    background-color: burlywood;
    border-color: firebrick;
}

.custom-label:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 5px;
    top: -2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    opacity: 0;
}

.custom-checkbox:checked + .custom-label:after {
    opacity: 1;
}

.btn {
    text-align: right;
}

.btn_add, .btn_del, .btn_up, .btn_down, .btn_save {
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin-right: 0;
    margin-top: 3px;
    width: 0;
}

.icon .btn_add {
    margin-right: 81px;
    margin-top: 5px;
}

.btn_del {
    margin-right: 74px;
}

img:hover {
    opacity: 1;
}

img {
    opacity: 0.8;
    filter: invert(76%) sepia(51%) saturate(257%) hue-rotate(352deg) brightness(90%) contrast(92%);
}

.btn_add img {
    display: block;
    width: 40px; /* 이미지 너비 조정 */
}

.btn_del img, .btn_save img {
    display: block;
    width: 35px;
}

.btn_up img, .btn_down img {
    display: block;
    width: 40px;
}

.btn_up, .btn_down {
    width: 40px;
}

.save {
    position: relative;
    max-width: 1300px;
    height: 50px;
    top: 0;
    left: 0;
}

.btn_save img {
    position: absolute;
    right: 35px;
    top: -20px;
    width: 60px;
    filter: invert(98%) sepia(17%) saturate(792%) hue-rotate(309deg) brightness(100%) contrast(97%);
}

.decoContent {
    position: relative;
    max-width: 1300px;
    height: 50px;
    top: 0;
    left: 0;
}

#leftDown {
    position: absolute;
    width: 280px;
    height: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/img/manager/rightdown.png');
    left: 30px;
    top: 760px;
    transform: rotate(30deg) translate(-50%, -50%);
    z-index: 2;
}

#rightUp {
    position: absolute;
    width: 270px;
    height: 190px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/img/manager/butterfly.png');
    left: 345px;
    top: -20px;
    transform: rotate(40deg);
    z-index: 2;
}

#middleUp {
    position: absolute;
    width: 150px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/img/manager/rose.png');
    left: -30px;
    bottom: 700px;
    transform: rotate(33deg);
    z-index: 2;
}

#leftUp {
    position: absolute;
    width: 230px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/img/manager/rosestick.png');
    left: 380px;
    bottom: 700px;
    transform: rotate(20deg) scaleY(-1);
    z-index: 2;
}

/* 큰 화면 전용 */
@media (min-width: 768px) {
    #container {
        display: flex;
        justify-content: space-between;
    }

    .menu_container {
        margin: 80px 50px 0px 50px;
    }

    #rightUp {
        width: 200px;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        left: 996px;
        top: -380px;
        transform: rotate(40deg);
    }

    #leftDown {
        display: block;
        position: absolute;
        width: 280px;
        height: 170px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('/img/manager/rightdown.png');
        transform: rotate(32deg) translate(-50%, -50%);
        left: 40px;
        top: 473px;
    }

    #middleUp {
        position: absolute;
        width: 150px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('/img/manager/rose.png');
        left: 480px;
        top: -260px;
        transform: rotate(33deg);
    }

    #leftUp {
        position: absolute;
        width: 260px;
        height: 120px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('/img/manager/rosestick.png');
        left: -30px;
        top: -340px;
        transform: rotate(-20deg) scaleY(-1) scaleX(-1);
    }

    .btn_save {
        position: absolute;
        right: 20px;
        top: 810px;
    }
}