*{
    box-sizing: border-box;
}

body {
    max-width: 1300px; /* 최대 폭 지정 */
    margin: 0 auto 100px auto;
    background-color: #10573e;
    caret-color: transparent;
    overflow-x: hidden;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

#menudetail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 18px;
    padding-right: 12px;
}

/* 상세정보 조회페이지 */
.detail_container {
    width: 1000px;
    height: 800px;
    background-image: url('/img/manager/detail.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; /* 이미지 위치 중앙 */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 자식 요소의 수평 정렬 */
    align-items: center; /* 자식 요소의 수직 정렬 */
}

.titleText {
    font-family: "Meddon", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 70px;
    align-self: center;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 470px;
    margin-top: -10px;
}

.info_A, .info_B {
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info_A {
    width: 370px;
}

.info_B {
    width: 530px;
    justify-content: space-between;
}

.name {
    background-image: url('/img/manager/menutitle.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; /* 이미지 위치 중앙 */
    width: 310px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.textbox_name {
    font-size: 25px;
    text-align: center;
    margin-left: 15px;
}

.price {
    height: 150px;
    width: 460px;
    background-image: url('/img/manager/price2.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; /* 이미지 위치 중앙 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 23px;
}

.textbox_price {
    font-size: 30px;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    width: 150px;
}

#show_price {
    height: 35px;
    font-size: 28px;
    text-align: right;
    margin-top: 5px;
    margin-right: 30px;
    padding-top: 7px;
    width: 300px;
    align-self: flex-end;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('/img/manager/memo1.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; /* 이미지 위치 중앙 */
    width: 460px;
    height: 330px;
}

.textbox_info {
    font-size: 30px;
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
    width: 150px;
}

#show_info {
    margin-top: 10px;
    margin-left: 15px;
    width: 420px;
    height: 180px;
    font-size: 25px;
    padding: 10px;
    overflow-y: scroll;
}

#show_info::-webkit-scrollbar {
    width: 5px; /* 스크롤바 너비 */
    height: 5px; /*가로 스크롤바 높이*/
}

#show_info::-webkit-scrollbar-track {
    background: none; /* 트랙 배경 색상 */
    border-radius: 10px; /* 트랙 모서리 둥글게 */
}

#show_info::-webkit-scrollbar-thumb {
    background: #deb887; /* 핸들 색상 */
    border-radius: 10px; /* 핸들 모서리 둥글게 */
}

#show_info::-webkit-scrollbar-thumb:hover {
    background: rgb(222, 160, 80); /* 호버 시 핸들 색상 */
}

.detail_btn {
    max-width: 1300px;
    margin-top: -20px;
    position: relative;
    height: 50px;
    top: 0;
    left: 0;
}

.btn_preview, .btn_list, .btn_update, .btn_back, .btn_savebtn, .btn_list_update {
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin-right: 0;
    margin-top: 3px;
    width: 0;
}

img:not(.ctt_img, #preview_img, #backgoundframe1, #backgoundframe2) {
    opacity: 0.8;
    width: 49px;
    position: absolute;
    top: 400px;
    filter: invert(98%) sepia(17%) saturate(792%) hue-rotate(309deg) brightness(100%) contrast(97%);
}

img:hover:not(.ctt_img, #preview_img, #backgoundframe1, #backgoundframe2) {
    opacity: 1;
}

.btn_preview img {
    display: block;
    right: 966px;
    z-index: 2;
}

.btn_list img, .btn_list_update img {
    display: block;
    right: 80px;
    width: 48px;
    z-index: 2;
}

.btn_update img, .btn_savebtn img {
    display: block;
    right: 5px;
    z-index: 2;
}

.btn_back img {
    display: block;
    right: 150px;
    z-index: 2;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}

.ctt_img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    align-self: center;
    justify-self: center;
    position: static;
    filter: none;
}

/* 수정페이지 */
.container_update {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    margin-bottom: 100px;

}

.detail_container_update {
    width: 1000px;
    height: 800px;
    background-image: url('/img/manager/detail.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; /* 이미지 위치 중앙 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 자식 요소의 수평 정렬 */
    align-items: center; /* 자식 요소의 수직 정렬 */
    z-index: 1;
}

.titleText_update {
    font-family: "Meddon", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 70px;
    align-self: center;
    margin-top: 95px;
}

.info_update {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 490px;
    margin-top: -20px;
}

.info_B_update {
    height: 490px;
    width: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}

.ch_price {
    align-self: flex-end;
    margin-right: 13px;
    font-size: 25px;
}

#ch_price, #ch_info {
    height: 40px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 25px;
    text-align: right;
    margin-top: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
    width: 300px;
    background-color: blanchedalmond;
    border: 3px solid burlywood;
    border-radius: 5px;
    outline: none;
    caret-color: firebrick;
}

#ch_price:focus, #ch_info:focus {
    border-color: rgb(178, 34, 34);
    box-shadow: 0 0 5px rgba(178, 34, 34, 0.5);
}

#ch_price::placeholder {
    margin-right: 10px;
}

#ch_price::selection, #ch_info::selection {
    background: burlywood;
    color: white;
}

/* type=number 화살표 제거 */
/* 크로스 브라우저 호환성을 위한 스타일 */
/* Webkit 브라우저 (Chrome, Safari) */
#ch_price::-webkit-inner-spin-button, #ch_price::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* type=number 화살표 제거 */
#ch_price {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* 일반 브라우저 스타일 재정의 */
}

.information_update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('/img/manager/memo1.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; /* 이미지 위치 중앙 */
    width: 460px;
    height: 320px;
}

#ch_info {
    margin-top: 10px;
    margin-left: 13px;
    width: 435px;
    height: 170px;
    font-size: 24px;
    padding: 10px;
    overflow-y: scroll;
    text-align: left;
    resize: none;
}

#ch_info::-webkit-scrollbar {
    width: 5px; /* 스크롤바 너비 */
    height: 5px; /*가로 스크롤바 높이*/
}

#ch_info::-webkit-scrollbar-track {
    background: none; /* 트랙 배경 색상 */
    border-radius: 10px; /* 트랙 모서리 둥글게 */
}

#ch_info::-webkit-scrollbar-thumb {
    background: burlywood; /* 핸들 색상 */
    border-radius: 10px; /* 핸들 모서리 둥글게 */
}

#ch_info::-webkit-scrollbar-thumb:hover {
    background: rgb(222, 160, 80); /* 호버 시 핸들 색상 */
}

.update_btn {
    opacity: 0.8;
    width: 49px;
    position: absolute;
    top: 430px;
    margin-right: 13px;
    filter: invert(98%) sepia(17%) saturate(792%) hue-rotate(309deg) brightness(100%) contrast(97%);
}

.update_btn:hover {
    opacity: 1.0;
}

.error_text {
    width: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.er_price {
    margin-top: -3px;
}

.er_info {
    margin-bottom: 5px;
}

.errorMessage {
    text-align: left;
    font-size: 18px;
    color: red;
}

/* 손님용 메뉴판 미리보기창 */
#preview_box {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    overflow-y: scroll;
}

#preview_box::-webkit-scrollbar {
    width: 5px; /* 스크롤바 너비 */
    height: 5px; /*가로 스크롤바 높이*/
}

#preview_box::-webkit-scrollbar-track {
    background: none; /* 트랙 배경 색상 */
    border-radius: 10px; /* 트랙 모서리 둥글게 */
}

#preview_box::-webkit-scrollbar-thumb {
    background: rgba(16, 87, 62, 0.89); /* 핸들 색상 */
    border-radius: 10px; /* 핸들 모서리 둥글게 */
}

#preview_box::-webkit-scrollbar-thumb:hover {
    background: #10573e; /* 호버 시 핸들 색상 */
}

#preview_container {
    background: linear-gradient(to bottom, #fffbf5, #F8F0E5, #fde0e5);
    margin: 110px auto;
    padding: 20px;
    border-radius: 10px;
    width: 1000px;
    height: 910px;
}

.preview_close {
    color: #fc6274;
    float: right;
    font-size: 70px;
}

.preview_close:hover,
.preview_close:focus {
    color: #ec1e37;
    text-decoration: none;
    cursor: pointer;
}

#backgoundflower1 {
    transform: translate(-165px) rotate(10deg);
    top: 20px;
    width: 350px;
    height: 350px;
}

#backgoundflower2 {
    transform: translate(875px) rotate(90deg);
    top: 420px;
    width: 250px;
    height: 250px;
}

#backgoundframe1 {
    transform: translate(190px);
    top: 140px;
    width: 600px;
}

#backgoundframe2 {
    top: 900px;
    transform: translate(190px) rotate(-180deg);
}

#cocktailsection {
    margin: 150px 20px;
    height: 500px;
    gap: 30px;
}

#cocktailImg {
    width: 480px;
    height: 480px;
    margin-top: 50px;
    margin-left: 0px;
}

#preview_img {
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    width: 480px;
    height: 480px;
    top: 0;
}

#heartImg {
    bottom: 80px;
    right: 55px;
}

#cocktailInfo {
    width: 400px;
    justify-content: center;
    margin-left: -30px;
}

#cocktailInfo #name {
    font-family: "Playwrite AU VIC", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
    width: 400px;
    height: 100px;
    align-content: center;
    justify-content: center;
    text-align: left;
    margin-bottom: 40px;
}

#cocktailInfo #star {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: -30px;
}

#starRate {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    gap: 10px;
}

#Rating {
    text-align: right;
    width: 60px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
}

#cocktailInfo #info {
    width: 400px;
    height: 200px;
    font-size: 26.5px;
    margin-bottom: 25px;
}

#cocktailInfo #price {
    width: 400px;
}