<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 폼</title>
    <link rel="icon" href="./images/images2/favicon.png">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/register.css}">
</head>
<body>
<div class="container">


    <div class="member">
        <div class="logo">
            <h1>회원가입</h1>
        </div>

        <form action="울라울라(메인페이지url)" method="post">
            <div class="field">
                <b>아이디</b>
                <span class="userid"><input type="text" required></span>
            </div>
            <div class="field">
                <b>비밀번호</b>
                <input class="userpw" type="password" required>
            </div>
            <div class="field">
                <b>비밀번호 재확인</b>
                <input class="userpw-confirm" type="password" required>
            </div>

            <div class="field">
                <b>이름</b>
                <input type="text" required>
            </div>

            <div class="field">
                <b>이메일</b>
                <input type="email" placeholder="선택입력" required>
            </div>

            <div class="field birth">
                <b>생년월일</b>
                <div>
                    <input type="number" placeholder="년(yyyy)" required>
                    <select>
                        <option value="">월</option>
                        <option value="">1월</option>
                        <option value="">2월</option>
                        <option value="">3월</option>
                        <option value="">4월</option>
                        <option value="">5월</option>
                        <option value="">6월</option>
                        <option value="">7월</option>
                        <option value="">8월</option>
                        <option value="">9월</option>
                        <option value="">10월</option>
                        <option value="">11월</option>
                        <option value="">12월</option>
                    </select>
                    <input type="number" placeholder="일(dd)" required>
                </div>
            </div>

            <input type="submit" value="가입하기">
        </form>
    </div>
</div>
</body>
</html>