<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 폼</title>
    <link rel="icon" href="./images/images2/favicon.png">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/register.css}">
</head>
<body>
<div class="container">

    <section id="decoContent">
        <div class="deco" id="pen"></div>
    </section>

    <div class="member">
        <div class="logo">
            <h1>회원가입</h1>
        </div>

        <form th:action="@{/user/registerCustomer}" method="post">
            <div class="field">
                <b>아이디</b>
                <span name="username" class="userid"><input type="text" name="username" required></span>
            </div>
            <div class="field">
                <b>비밀번호</b>
                <input name="password" class="userpw" type="password" required>
            </div>
            <div class="field">
                <b>비밀번호 재확인</b>
                <input name="re_password" class="userpw-confirm" type="password" required>
            </div>

            <div class="field">
                <b>이름</b>
                <input name="nickname" type="text" required>
            </div>

            <div class="field">
                <b>이메일</b>
                <input name="email" type="email" placeholder="선택입력" required>
            </div>

            <div class="field birth">
                <b>생년월일</b>
                <div>
                    <input name="year" type="number" placeholder="년(yyyy)" required>
                    <input name="month" type="number" placeholder= "월(MM)" required>
<!--                    <select name="month" required>-->
<!--                        <option value="">월</option>-->
<!--                        <option value="01">1월</option>-->
<!--                        <option value="02">2월</option>-->
<!--                        <option value="03">3월</option>-->
<!--                        <option value="04">4월</option>-->
<!--                        <option value="05">5월</option>-->
<!--                        <option value="06">6월</option>-->
<!--                        <option value="07">7월</option>-->
<!--                        <option value="08">8월</option>-->
<!--                        <option value="09">9월</option>-->
<!--                        <option value="10">10월</option>-->
<!--                        <option value="11">11월</option>-->
<!--                        <option value="12">12월</option>-->
<!--                    </select>-->
                    <input name="day" type="number" placeholder="일(dd)" required>
                </div>
            </div>

            <input type="submit" value="가입하기">
        </form>
    </div>
</div>
</body>
</html>