<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 폼</title>
    <link rel="icon" href="./images/images2/favicon.png">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/register.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@387&display=swap" rel="stylesheet">
    <script src = " https://unpkg.com/sweetalert/dist/sweetalert.min.js " > </script>
</head>
<body>
<div class="container">

    <section id="decoContent">
        <div class="deco" id="pen"></div>
    </section>

    <div class="member">
        <div class="logo">
            <h1>회원가입</h1>
        </div>

        <div style="color: red" class="text-danger" th:text="${error }">
            <!--/* 에러메세지 */-->
        </div>

        <form th:action="@{/user/registerCustomer}" method="post">
            <div class="field">
                <b>아이디</b>
                <span name="username" class="userid"><input type="text" name="username" th:value="${username}" required></span>
            </div>
            <div class="field">
                <b>비밀번호</b>
                <input name="password" class="userpw" type="password" required>
            </div>
            <div class="field">
                <b>비밀번호 재확인</b>
                <input name="re_password" class="userpw-confirm" type="password" required>
            </div>

            <div class="field">
                <b>이름</b>
                <input name="nickname" type="text" th:value="${nickname}" required>
            </div>

            <div class="field">
                <b>이메일</b>
                <input name="email" type="email" placeholder="선택입력" th:value="${email}" required>
            </div>

            <div class="field birth">
                <b>생년월일</b>
                <div>
                    <input name="year" type="number" placeholder="년(yyyy)" th:value="${year}" required>
                    <input name="month" type="number" placeholder= "월(MM)" th:value="${month}" required>
                    <input name="day" type="number" placeholder="일(dd)" th:value="${day}" required>
                </div>
            </div>

            <input type="submit" value="가입하기">
        </form>
    </div>
</div>

<script th:if="${result != null}" th:inline="javascript">
    if ([[${result}]] > 0) {
        swal("Success", "가입 성공", "success").then(() => {
            location.href = "/home";
        });
    } else {
        swal("Error", "가입 실패", "error").then(() => {
            history.back();
        });
    }
</script>

</body>
</html>