@font-face {
    font-family: 'Ownglyph_UNZ-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/Ownglyph_UNZ-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #10573e;
    margin-bottom: 1000px;
    caret-color: transparent;
    overflow-x: hidden;
}

#guestbooksection{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    position: relative;
}
#guestbook{
    width: 2415px;
    height: 1350px;
    left: 45px;
    top: 83px;
    position: relative;
    z-index: 3;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

#guestbook_background {
    position: absolute;
    background-image: url("/img/guestBook/guestBook.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 2500px;
    height: 1500px;
    top: 5px;
}

.postIt{
    width: 250px;
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: drop-shadow(3px 0px 3px rgba(0, 0, 0, 0.3)) /* Right and bottom shadow */
            drop-shadow(-3px 5px 3px rgba(0, 0, 0, 0.3)) /* Left and bottom shadow */;
}

/*----------------------------------- edit section*/
#editcontainer{
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100000;
}
#editcontainer:hover{
    #edittogglebutton {
        height: 0vh;
    }
    #editarea{
        height: 200px;
    }
    .createpostIt{
        height: 180px;
    }
}
#edittogglebutton{
    position: fixed;
    background-color: #84c2b5;
    width: 15vw;
    height: 5vh;
    bottom: 0px;
    transition: height 0.5s ease;
}
#editarea{
    position: fixed;
    /*background-color: rgba(132, 194, 181, 0.66);*/
    background: linear-gradient(to top, rgba(213, 223, 238, 0.5), rgba(233, 241, 231, 0.5), rgba(245, 232, 221, 0.5), rgba(238, 211, 217, 0.5));
    border-radius: 20px;
    width: 1500px;
    height: 0px;
    bottom: 0px;
    transition: height 0.2s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.createpostIt{
    width: 250px;
    /*height: 180px;*/
    height: 0px;
    transition: height 0.2s ease;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: drop-shadow(3px 0px 3px rgba(0, 0, 0, 0.3)) /* Right and bottom shadow */
    drop-shadow(-3px 5px 3px rgba(0, 0, 0, 0.3)) /* Left and bottom shadow */;
}
#postIt1 {background-image: url("/img/guestBook/pink.png")}
#postIt2{background-image: url("/img/guestBook/yellow.png")}
#postIt3{background-image: url("/img/guestBook/green.png")}
#postIt4{background-image: url("/img/guestBook/blue.png")}
#postIt5{background-image: url("/img/guestBook/purple.png")}

.postItDel {
    float: right;
    margin:5px 25px 0 0;
    font-size: 20px;
    display: none;
}

.postItDel:hover,
.postItDel:focus {
    color: #ec1e37;
    text-decoration: none;
    cursor: pointer;
}

.postItContent {
    margin: 15px 0 0 30px;
    font-family: 'Ownglyph_UNZ-Rg';
}

.content {
    caret-color: black;
    font-size: 25px;
    margin: 10px 0 0 0;
    width: 190px;
    height: 95px;
}

.contentBox {
    caret-color: black;
    font-size: 25px;
    margin: 20px 0 0 25px;
    width: 195px;
    height: 120px;
}

.content::placeholder, .contentBox::placeholder {
    font-family: 'Ownglyph_UNZ-Rg';
    font-size: 25px;
}

.content:focus, .contentBox:focus {
    font-family: 'Ownglyph_UNZ-Rg';
    font-size: 25px;
}

.nickname {
    font-size: 28px;
}
