body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #10573e;
    margin-bottom: 1000px;
    caret-color: transparent;
    /*overflow: hidden;*/
}

#guestbooksection{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    position: relative;
}
#guestbook{
    width: 2415px;
    height: 1350px;
    left: 45px;
    top: 83px;
    position: relative;
    z-index: 3;
    pointer-events: none;
}

#guestbook_background {
    position: absolute;
    background-image: url("/img/guestBook/guestBook.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 2500px;
    height: 1500px;
    top: 5px;
}

.postIt{
    width: 250px;
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*----------------------------------- edit section*/
#editcontainer{
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100000;
}
#editcontainer:hover{
    #edittogglebutton {
        height: 0vh;
    }
    #editarea{
        height: 200px;
    }
    .createpostIt{
        height: 180px;
    }
}
#edittogglebutton{
    position: fixed;
    background-color: #84c2b5;
    width: 15vw;
    height: 5vh;
    bottom: 0px;
    transition: height 0.5s ease;
}
#editarea{
    position: fixed;
    background-color: rgba(132, 194, 181, 0.66);
    width: 1500px;
    height: 0px;
    bottom: 0px;
    transition: height 0.2s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.createpostIt{
    width: 250px;
    /*height: 180px;*/
    height: 0px;
    transition: height 0.2s ease;
}
#postIt1 {background-image: url("/img/guestBook/pink.png")}
#postIt2{background-image: url("/img/guestBook/yellow.png")}
#postIt3{background-image: url("/img/guestBook/green.png")}
#postIt4{background-image: url("/img/guestBook/blue.png")}
#postIt5{background-image: url("/img/guestBook/purple.png")}

