/*********************************************/
/* 메인화면 설정 */
body {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    background-color: #10573E !important;
    caret-color: transparent;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.clearfix:after {
    content: '';
    display: block;
}

.container-fluid, .schedule-container, .calendar-box, .add-menu-container {
    background-color: white;
}

.container-fluid {
    width: 100%;
    height: 680px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 0;
    border-radius: 10px;
    font-size: 0;
    font-family: "Noto Sans KR", sans-serif;
}

.my-calendar {
    margin: 30px 0;
    text-align: center;
    font-weight: 400;
    cursor: default;
}

/*********************************************/
/* 일정 메모 */
.schedule-container {
    width: 100%;
    height: 680px;
    padding: 0 10px;
    min-width: 260px;
    position: relative;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.memo-container {
    position: relative;
    margin-top: 40px;
}

.event-text {
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
}

#btn-add-memo {
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    bottom: 18px;
    right: 50px;
    border: none;
    border-radius: 50%;
    font-size: 15px;
    vertical-align: middle;
}

#btn-add-memo:hover {
    opacity: 80%;
}

.event-list .event-list li {
    padding: 0;
    margin: 0;
}

.event-list {
    padding-inline-start: 0;
    list-style: none;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #434444;
}

.event-list li {
    width: 260px;
    min-height: 100px;
    max-height: 480px;
    padding: 20px;
    position: relative;
    display: inline-block;
    text-align: start;
    white-space: pre-wrap;
    background-color: #EAF1EF;
    overflow-x: hidden;
    overflow-y: auto;
}

.event-list li::-webkit-scrollbar {
    width: 5px;
}

.event-list li::-webkit-scrollbar-thumb {
    background: rgba(63, 121, 117, 0.55);
    border-radius: 10px;
}

.event-list li::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.event-list li::-webkit-scrollbar-thumb:hover {
    opacity: 80%;
}

/* 스크롤 맨 위 */
.event-list li.scroll-top {
    animation: scrollAnimationTop 0.5s ease-in-out;
}

/* 스크롤 맨 아래 */
.event-list li.scroll-bottom {
    animation: scrollAnimationBottom 0.5s ease-in-out;
}

@keyframes scrollAnimationTop {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes scrollAnimationBottom {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

#new-memo {
    width: 260px;
    min-height: 100px;
    max-height: 480px;
    display: none;
    margin: 8px 0 120px;
    border: none;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #434444;
    caret-color: black;
    white-space: pre-wrap;
}

#new-memo::-webkit-scrollbar {
    width: 5px;
}

#new-memo::-webkit-scrollbar-thumb {
    background: rgba(63, 121, 117, 0.55);
    border-radius: 10px;
}

#new-memo::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#new-memo::-webkit-scrollbar-thumb:hover {
    opacity: 80%;
}

#new-memo:focus {
    display: block;
    background-color: #EAF1EF;
    outline: none;
    padding: 20px;
}

.clicked-date {
    position: relative;
}

.memo-edit, .memo-delete {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: -30px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    float: right;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
}

.memo-edit {
    right: 42px;
    background-image: url('/img/calendar/edit.png');
}

.memo-delete {
    right: 17px;
    background-image: url('/img/calendar/close.png');
}

/*********************************************/
/* 일정 알림 텍스트 */

.notification-text {
    text-align: center;
    color: #888;
    font-size: 13px;
    font-family: "Noto Sans KR", sans-serif;
    vertical-align: middle;
    cursor: pointer;
}

.notification-container {
    display: block;
}

/*********************************************/
/* 캘린더 설정 */

.calendar-box {
    height: 100%;
    min-width: 670px;
    min-height: 650px;
    padding: 20px 0;
    text-align: center;
}

.ctr-box {
    margin: 20px;
    margin-left: 50px;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    position: relative;
}

.ctr-box .cal-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ctr-box .btn-cal {
    margin-top: 5px;
    font-size: 20px;
    color: #064B46;
    cursor: pointer;
    border: none;
    background: none;
}

.ctr-box .btn-cal.prev {
    position: absolute;
    left: -30px;
}

.ctr-box .btn-cal.next {
    position: absolute;
    left: 140px;
}

.ctr-box .btn-cal:after {
    content: '<';
    line-height: 25px;
    font-weight: bold;
}

.ctr-box .btn-cal.next:after {
    content: '>';
}

.ctr-box .ctr-box .cal-month {
    margin: 0 10px;
}

.cal-year,
.cal-month {
    display: inline-block;
    margin: 0 4px;
}

.ctr-box:hover .btn-cal {
    display: block;
}

.cal-table {
    width: 100%;
    height: 86%;
    border-collapse: separate;
    border-spacing: 8px;
    border-radius: 20px;
}

.cal-table th {
    padding-bottom: 5px;
    font-size: 21px;
    font-weight: 500;
}

.cal-table td {
    padding: 3px 0;
    height: 50px;
    font-size: 19px;
    vertical-align: middle;
}

.cal-table a {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    font-size: 19px;
}

.cal-table td.day {
    position: relative;
    cursor: pointer;
}

.cell-menu-image {
    max-width: 20px;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
    opacity: 80%;
}

.cal-table td.event {
    background: radial-gradient(circle, #EAF1EF 0%, #EAF1EF 50%, transparent 50%);
}

.cal-table td.today {
    background: radial-gradient(circle, #289871bc 0%, #289871bc 50%, transparent 50%);
    color: #fff;
    opacity: 70%;
}

.cal-table td.day-active {
    background: radial-gradient(circle, #064B46 0%, #064B46 50%, transparent 50%);
    color: #fff;
    opacity: 70%;
}

.cal-table td.has-event:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #FFC107;
}

.menu-icon {
    width: 10px;
}

/*********************************************/
/* 오늘의 메뉴 설정 */
.add-menu-container {
    min-width: 310px;
    width: 100%;
    height: 680px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.menu-text-container {
    position: relative;
    margin-top: 40px;
}

#btn-add-menu {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 19px;
    right: 50px;
    border: none;
    border-radius: 50%;
    font-size: 15px;
    vertical-align: middle;
}

#btn-add-menu:hover {
    opacity: 80%;
}

.today-menu-container {
    align-items: center;
}

.today-menu-name {
    margin: 0;
    font-family: "Playwrite AU VIC", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color : #033734;
}

.menu-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 85px;
}

.menu-text {
    width: 100%;
    text-align: center;
}

#today-menu-text, #select-menu-text {
    width: 86%;
    margin-top: 20px;
    margin-bottom: 20px;
    resize: none;
    overflow-y: auto;
    color: #434444;
    font-family: "Noto Sans KR", sans-serif;
}

/* 캘린더 화면에 뜨는 텍스트 */
#today-menu-text {
    height: 160px;
    padding: 15px;
    border: none;
    background-color: #f8f4ef;
    font-weight: 500;
    font-size: 15px;
}

#today-menu-text::-webkit-scrollbar {
    width: 6px;
}

#today-menu-text::-webkit-scrollbar-thumb {
    background: rgb(200 179 142 / 54%);
    border-radius: 10px;
}

#today-menu-text::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* 스크롤 맨 위 */
#today-menu-text.scroll-top {
    animation: scrollAnimationTop 0.5s ease-in-out;
}

/* 스크롤 맨 아래 */
#today-menu-text.scroll-bottom {
    animation: scrollAnimationBottom 0.5s ease-in-out;
}

/* 사용자가 작성하는 팝업 화면에 뜨는 텍스트 */
#select-menu-text {
    height: 230px;
    padding: 16px 20px;
    border: none;
    background-color: #faf9f7;
    font-weight: 500;
    font-size: 17px;
    caret-color: black;
}

#select-menu-text::-webkit-scrollbar {
    width: 6px;
}

#select-menu-text::-webkit-scrollbar-thumb {
    background: rgb(200 179 142 / 54%);
    border-radius: 10px;
}

#select-menu-text::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.menu-text textarea:focus {
    border: none;
    outline: none;
}

.menu-buttons {
    text-align: end;
    margin-right: 20px;
}

.edit-disabled-text {
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 13px;
    color: #808080;
}

.btn-edit, .btn-delete {
    width: 15px;
    height: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
}

.btn-edit {
    margin-right: 10px;
    background-image: url('/img/calendar/edit.png');
}

.btn-delete {
    margin-right: 8px;
    background-image: url('/img/calendar/close.png');
}

.btn-edit {
    color: rgb(88, 88, 108);
}

.btn-edit:hover {
    opacity: 80%;
}

.btn-delete {
    color: #0a9866;
}

.btn-delete:hover {
    opacity: 80%;
}

/*********************************************/
/* 오늘의 메뉴 알림 텍스트 */

.notification-menu-container:hover {
    opacity: 80%;
}

.notification-menu-container {
    display: block;
}

.notification-menu-content {
    margin-top: 10px;
    padding: 0 20px;
}

.notification-menu-text {
    text-align: center;
    color: #888;
    font-size: 13px;
    font-family: "Noto Sans KR", sans-serif;
    vertical-align: middle;
}

/*********************************************/
/* 오늘의 메뉴 리스트 팝업 */

.form-container {
    width: 500px;
    padding: 30px 0;
    border-radius: 22px;
    overflow: hidden;
    height: 600px;
    background-color: white;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 300;
}

.form-popup1, .form-popup2 {
    height: 600px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 400;
    overflow: hidden;
}

.menu-scroll {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 580px;
    padding-left: 6px;
}

.menu-scroll::-webkit-scrollbar {
    width: 6px;
}

.menu-scroll::-webkit-scrollbar-thumb {
    background: rgba(58, 75, 74, 0.47);
    border-radius: 10px;
}

.menu-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* 스크롤 맨 위 */
.menu-scroll.scroll-top {
    animation: scrollAnimationTop 0.5s ease-in-out;
}

/* 스크롤 맨 아래 */
.menu-scroll.scroll-bottom {
    animation: scrollAnimationBottom 0.5s ease-in-out;
}

.select-menu-scroll {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 580px;
    padding-left: 6px;
}

.select-menu-scroll::-webkit-scrollbar {
    width: 6px;
}

.select-menu-scroll::-webkit-scrollbar-thumb {
    background: rgba(58, 75, 74, 0.47);
    border-radius: 10px;
}

.select-menu-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.menu-close {
    float: right;
    cursor: pointer;
    border: none;
    background: none;
}

.menu-close span {
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    font-weight: 600;
}

.menu-close:hover {
    opacity: 70%;
}

.menu-title {
    padding: 0 30px;
}

.title-text {
    padding-left: 32px;
    margin: 0 0 18px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.form-text-style {
    font-size: 14px;
    color: black;
    font-family: "Noto Sans KR", sans-serif;
}

.menu-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px 20px 0 20px;
}

.line {
    margin: 0 -30px;
    height: 0.2px;
    background-color: #033734;
}

.menu {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
}

.menu:hover {
    opacity: 90%;
    border: 1px solid lightgray;
}

.menu-img {
    width: 150px;
    height: auto;
}

.menu img {
    width: 150px;
    height: 210px;
    margin-bottom: 20px;
}

.menu-name {
    font-weight: 700;
    font-size: 17px;
    color: rgb(56, 56, 56);
}

.select-menu {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.select-menu-img {
    width: 150px;
    height: 200px;
    margin-left: 170px;
    background-size: cover;
    background-position: center;
    display: block;
    transition: opacity 0.3s ease;
}

.change-menu-button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
    font-size: 16px;
    color: black;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
}

.img-container:hover .select-menu-img {
    opacity: 0.8;
}

.img-container:hover .change-menu-button {
    display: block;
}

.select-menu-name {
    font-weight: 600;
    font-size: 18px;
    color:#033734;
    margin-bottom: 30px;
}

.select-menu-text {
    width: 100%;
    text-align: center;
}

#select-menu-text:focus {
    border: none;
    outline: none;
}

.select-menu-buttons {
    text-align: end;
    margin-right: 24px;
    margin-bottom: 70px;
}

.select-menu-buttons button {
    border: none;
    background: none;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
}

.btn-cancel {
    color: rgb(0, 0, 0);
}

.btn-cancel:hover {
    opacity: 80%;
}

.btn-save {
    color: #064B46;
}

.btn-save:hover {
    opacity: 80%;
}

.swal-text {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.btn-swal-cancel {
    background-color: #fafafa;
    border: 1px solid #f44336;
    color: #333;
    font-size: 16px;
    padding: 10px 24px;
}

.btn-swal-confirm {
    background-color: #f44336;
    border: 1px solid #f44336;
    color: white;
    font-size: 16px;
    padding: 10px 24px;
}