*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'GmarketSansMedium';
    font-size:14px;
    background-color: #10573e;
    line-height: 1.5em;
    color :  black;
    margin: 0;
}
.container{
    margin-top: 50px;
    margin-bottom: 40px;
}
.member{
    width: 400px;
    margin: auto;
    padding: 5px 20px;
    background-color: white;
}

.member .logo{
    display: block;
    margin :50px auto;
}

.member .field{
    margin :20px 0;
}


.member input:not(input[type=radio]),.member select{
    font-family: 'GmarketSansMedium';
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
}

.member input[type=submit]{
    background-color: #10573e;
    color: #f8e9d7;
}

.field.birth div{
    display: flex;
    gap:10px;
}


@media (max-width:768px) {
    .member{
        width: 100%;
    }
}
