*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    overflow-y: auto;
    overflow-x: hidden; /* x축 스크롤 비활성화 */

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    background-color: #10573e;
    line-height: 1.5em;
    color :  black;
    margin: 0;
}
#decoContent{
    top: 390px;
    left: 265px;
    position: absolute;
    z-index: -1;
}

.deco{
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}

#pen{
    background-image: url('/img/user/pen.png');
}


.container{
    margin-top: 50px;
    margin-bottom: 40px;
    position: relative;
}
.member{
    width: 400px;
    margin: auto;
    padding: 5px 20px;
    background-color: white;
    position: relative;
}

.member .logo{
    display: block;
    margin :50px auto;
}

.member .field{
    margin :20px 0;
}


.member input:not(input[type=radio]),.member select{
    font-family: "Noto Sans KR", sans-serif;
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
}

.member input[type=submit]{
    background-color: #10573e;
    color: #f8e9d7;
}


/* type=number 화살표 제거 */
/* 크로스 브라우저 호환성을 위한 스타일 */
/* Webkit 브라우저 (Chrome, Safari) */
.field.birth input::-webkit-inner-spin-button, .field.birth input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* type=number 화살표 제거 */
.field.birth input {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* 일반 브라우저 스타일 재정의 */
}

.field.birth div{
    display: flex;
    gap:10px;

}


@media (max-width:1080px) {
    .member{
        width: 80%;
    }

    #decoContent{
        display: none;
    }
}

