*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    overflow: hidden;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    background-color: #10573e;
    line-height: 1.5em;
    color :  black;
    margin: 0;
    position: relative;
}
#decoContent{
    top: 380px;
    left: 920px;
    z-index: 1;
    position: relative;
}

.deco{
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    position: absolute;
}

#pen{
    background-image: url('/img/user/pen.png');
    left: 5%;
    top: 52%;
    opacity: 0.9;
    z-index: -1;
}


.container{
    margin-top: 50px;
    margin-bottom: 40px;
    position: relative;
}
.member{
    width: 400px;
    margin: auto;
    padding: 5px 20px;
    background-color: white;
}

.member .logo{
    display: block;
    margin :50px auto;
}

.member .field{
    margin :20px 0;
}


.member input:not(input[type=radio]),.member select{
    font-family: "Noto Sans KR", sans-serif;
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
}

.member input[type=submit]{
    background-color: #10573e;
    color: #f8e9d7;
}

.field.birth div{
    display: flex;
    gap:10px;
}


@media (max-width:1080px) {
    .member{
        width: 80%;
    }
}

