<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <th:block th:fragment="chatCart">
        <th:block sec:authorize="hasRole('CUSTOMER')">
<!--/*            <th:block th:with="logged_user=${#authentication.principal.user}">*/-->
                <section id="customer">
                    <div id="rightsection">
                        <div id="chatbuttonback">
                            <div class="buttonimg"></div>
                        </div>
                        <div id="cartbuttonback">
                            <div class="buttonimg"></div>
                        </div>

                        <div id="chatboard">
                            <div id="chatclear" class="hidden">clear</div>
                            <div id="chatexit" class="hidden"></div>
                            <div id="historycontainer" class="hidden"></div>
                            <div id="sendcontainer" class="hidden">
                                <div id="chat-input">
                                    <input type="text" id="chatInput" placeholder="안녕, AI 바텐더!" />
                                    <button id="sendButton">
                                        <div id="sendImg"></div>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div id="cartboard">
                            <img id="boardbackground">
                            <div id="cartexit" class="hidden"></div>
                            <div id="cartcontent" class="hidden"></div>
                            <div id="carttotal" class="hidden"></div>
                            <div id="toPay" class="hidden">결제</div>
                        </div>
                    </div>
                </section>
        </th:block>
    </th:block>
</body>