<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<body>
    <th:block th:fragment="chatCart">
        <th:block sec:authorize="hasRole('CUSTOMER')">
<!--/*            <th:block th:with="logged_user=${#authentication.principal.user}">*/-->
                <section id="customer">
                    <div id="rightsection">
                        <div id="chatbuttonback">
                            <div class="buttonimg"></div>
                        </div>
                        <div id="cartbuttonback">
                            <div class="buttonimg"></div>
                        </div>

                        <div id="chatboard">
                            <div id="chatexit" class="hidden"></div>
                            <div id="historycontainer" class="hidden">
<!--                                    <div class="pull">말풍선1</div>-->
                                <div class="bartenderChat">안녕하세요? 오늘의 기분이 어떠세요?</div>
                                <div class="customerChat">별루야. 별꼴이야.</div>
                                <div class="bartenderChat">정말요? 너무 슬퍼요. 이건 어때요? 아비에이션!! 아니면 이건 어때요? 싱가로프 슬링! 사실 저는 올드 패션드를 제일 좋아하긴 해요!</div>
                                <div class="customerChat">음..................... 다른건 없어? 좀 별로다 얘.</div>
                                <div class="bartenderChat">추천해달라는거에요 말라는거에요?</div>
                                <div class="customerChat">뭐? 사장불러!</div>
                            </div>
                            <div id="sendcontainer" class="hidden">
                                <div id="chat-input">
                                    <input type="text" id="chatInput" placeholder="안녕, AI 바텐더!" />
                                    <button id="sendButton">Send</button>
                                </div>
                            </div>
                        </div>

                        <div id="cartboard">
                            <img id="boardbackground">
                            <div id="cartexit" class="hidden"></div>
                            <div id="cartcontent" class="hidden"></div>
                            <div id="carttotal" class="hidden"></div>
                        </div>
                    </div>
                </section>
        </th:block>
    </th:block>
</body>