<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<body>
    <th:block th:fragment="chatCart">
        <th:block sec:authorize="hasRole('CUSTOMER')">
<!--/*            <th:block th:with="logged_user=${#authentication.principal.user}">*/-->
                <section id="customer">
                    <div id="rightsection">
                        <div id="chatbuttonback">
                            <div class="buttonimg"></div>
                        </div>
                        <div id="cartbuttonback">
                            <div class="buttonimg"></div>
                        </div>

                        <div id="cartboard">
                            <img id="boardbackground">
                            <div id="exit" class="hidden"></div>
                            <div id="cartcontent" class="hidden"></div>
                            <div id="carttotal" class="hidden"></div>
                        </div>
                    </div>
                </section>
        </th:block>
    </th:block>
</body>