<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <th:block th:fragment="header">
        <div class="topnav" id="myTopnav">
            <section id="headermenu">
                <div class="headermenu">
                    <!-- 관리자용 메뉴 -->
                    <div sec:authorize="hasRole('MANAGER')" id="menuIcon"></div>
                </div>
            </section>

            <section id="headerlogo">
                <a href="/home" class="headerlogo"></a>
            </section>

            <section id="headeruser">
                <!-- 로그인 안했을때는 로그인 form 보여주기 -->
                <div class="headeruser">
                    <button sec:authorize="hasRole('CUSTOMER')" th:onclick="|location.href='@{/mypage/info}'|" id="userIcon"></button>
                </div>
                <div><button sec:authorize="isAnonymous()" class="headerButton" th:onclick="|location.href='@{/user/login}'|">Login</button></div>

                <!-- 로그인 했을때는 username 과 로그아웃 form 보여주기 -->
                <form th:action="@{/user/logout}" method="POST" sec:authorize="isAuthenticated()" th:with="user=${#authentication.getPrincipal().getUser()}">
                    <div><button type="submit" class="headerButton">Logout</button></div>
                </form>
            </section>

        </div>
    </th:block>
</body>
</html>