<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script th:src="@{/js/sidebar/sidebar.js}"></script>
</head>
<body>

    <th:block th:fragment="sidebar">
        <aside class="side">
            <div id="sideMenu">
                <p class="smTitle">MY PAGE</p>
                <a th:href="@{/mypage/info}" class="sm">내 정보</a>
                <a th:href="@{/mypage/order}" class="sm">주문내역</a>
                <a th:href="@{/mypage/review}" class="sm">리뷰내역</a>
                <a th:href="@{/mypage/bookmark}" class="sm">즐겨찾기</a>
            </div>
        </aside>
    </th:block>

</body>
</html>