<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

    <th:block th:fragment="sidebar">
        <aside class="side">
            <div id="sideMenu">
                <a th:href="@{/mypage/info}" class="sm">MY PAGE</a>
                <a th:href="@{/mypage/info}" class="sm">내 정보</a>
                <a th:href="@{/mypage/order}" class="sm">주문내역</a>
                <a th:href="@{/mypage/review}" class="sm">리뷰내역</a>
                <a th:href="@{/mypage/bookmark}" class="sm">즐겨찾기</a>
            </div>
        </aside>
    </th:block>

</body>
</html>