<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

    <th:block th:fragment="sidebar">
        <aside class="side">
            <div id="sideMenu">
                <p>MY PAGE</p>
                <a href="#" class="sm">내 정보</a>
                <a href="#" class="sm">주문내역</a>
                <a href="#" class="sm">리뷰내역</a>
                <a href="#" class="sm">즐겨찾기</a>
            </div>
        </aside>
    </th:block>

</body>
</html>