@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  /* height: 100vh; */
  background-color: #10573e;
   margin-bottom: 100px;
  caret-color: transparent;
  overflow-x: hidden;
}

#menudetail {
  display: flex;
  align-items:center;
  justify-content: center;
  max-width: 1300px;  /* 최대 폭 지정 */
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  align-items:center;
  justify-content: center;
  margin-top: 50px;
}

/* 상세정보 조회페이지 */
.detail_container {
  width: 1000px;
  height: 800px;
  background-image: url('/img/management/detail.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; /* 이미지 위치 중앙 */
  display: flex;
  flex-direction: column;
  justify-content: center; /* 자식 요소의 수평 정렬 */
  align-items: center; /* 자식 요소의 수직 정렬 */
}

.titleText {
  font-family: "Meddon", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 70px;
  align-self: center;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 470px;
  margin-top: -10px;
}

.info_A, .info_B {
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info_A {
  width: 370px;
}

.info_B {
  width: 530px;
  justify-content: space-between;
}

.name {
  background-image: url('/img/management/menutitle.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; /* 이미지 위치 중앙 */
  width: 310px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.textbox_name {
  font-family: 'GmarketSansMedium';
  font-size: 30px;
  text-align: center;
  margin-left: 15px;
  margin-top: 5px;
}

.price {
  height: 150px;
  width: 460px;
  background-image: url('/img/management/price2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; /* 이미지 위치 중앙 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'GmarketSansMedium';
  font-size: 23px;
}

.textbox_price {
  font-family: 'GmarketSansMedium';
  font-size: 30px;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
  width: 150px;
}

#show_price {
  height: 35px;
  width: 250px;
  font-family: 'GmarketSansMedium';
  font-size: 25px;
  text-align: right;
  margin-top: 5px;
  margin-right: 30px;
  padding-top: 7px;
  width: 300px;
  align-self: flex-end;
}

.infomation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url('/img/management/memo1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; /* 이미지 위치 중앙 */
  width: 460px;
  height: 330px;
}

.textbox_info {
  font-family: 'GmarketSansMedium';
  font-size: 30px;
  text-align: left;
  margin-top: 30px;
  margin-left: 20px;
  width: 150px;
}

#show_info {
  margin-top: 10px;
  margin-left: 15px;
  width: 420px;
  height: 180px;
  font-family: 'GmarketSansMedium';
  font-size: 25px;
  padding: 10px;
  overflow-y: scroll;
}

#show_info::-webkit-scrollbar {
  width: 5px; /* 스크롤바 너비 */
  height: 5px; /*가로 스크롤바 높이*/
}

#show_info::-webkit-scrollbar-track {
  background:none; /* 트랙 배경 색상 */
  border-radius: 10px; /* 트랙 모서리 둥글게 */
}

#show_info::-webkit-scrollbar-thumb {
  background: #deb887; /* 핸들 색상 */
  border-radius: 10px; /* 핸들 모서리 둥글게 */
}

#show_info::-webkit-scrollbar-thumb:hover {
  background: rgb(222, 160, 80); /* 호버 시 핸들 색상 */
}

.detail_btn {
  max-width: 1300px;
  margin-top: -20px;
  position: relative;
  height: 50px;
  top: 0;
  left: 0;
}

.btn_preview, .btn_list, .btn_update, .btn_back, .btn_savebtn, .btn_list_update {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin-right: 0;
  margin-top: 3px;
  width: 0;
}

img:not(.ctt_img) {
  opacity: 0.8;
  width: 49px;
  position: absolute;
  top: 430px;
  filter: invert(98%) sepia(17%) saturate(792%) hue-rotate(309deg) brightness(100%) contrast(97%);
}

img:hover {
  opacity: 1;
}

.btn_preview img {
  display: block;
  right: 960px;
}

.btn_list img, .btn_list_update img {
  display: block;
  right: 80px;
  width: 48px;
}

.btn_update img, .btn_savebtn img  {
  display: block;
  right: 10px;
}

.btn_back img {
  display: block;
  right: 150px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
}

.ctt_img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  align-self: center;
  justify-self: center;
  position: static;
  filter: none;
}

/* 수정페이지 */
.detail_container_update {
  width: 1000px;
  height: 900px;
  background-image: url('/img/management/detail.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; /* 이미지 위치 중앙 */
  display: flex;
  flex-direction: column;
  justify-content: center; /* 자식 요소의 수평 정렬 */
  align-items: center; /* 자식 요소의 수직 정렬 */
}

.info_update {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 490px;
  margin-top: -10px;
}

.info_B_update {
  height: 490px;
  width: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}

.ch_price {
  align-self: flex-end;
  margin-right: 13px;
  font-size: 25px;
}

#ch_price, #ch_info {
  height: 35px;
  width: 250px;
  font-family: 'GmarketSansMedium';
  font-size: 25px;
  text-align: right;
  margin-top: 5px;
  margin-right: 5px;
  padding-top: 7px;
  width: 300px;
  background-color: blanchedalmond;
  border: 3px solid burlywood;
  border-radius: 5px;
  outline: none;
  caret-color: firebrick;
}

#ch_price:focus, #ch_info:focus {
  border-color: rgb(178, 34, 34);
  box-shadow: 0 0 5px rgba(178, 34, 34, 0.5);
}

#ch_price::placeholder {
  margin-right: 10px;
}

#ch_price::selection, #ch_info::selection {
  background: burlywood;
  color: white;
}

/* 크로스 브라우저 호환성을 위한 스타일 */
/* Webkit 브라우저 (Chrome, Safari) */
#ch_price::-webkit-inner-spin-button, #ch_price::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#ch_price {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;  /* 일반 브라우저 스타일 재정의 */
}

.infomation_update{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url('/img/management/memo1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; /* 이미지 위치 중앙 */
  width: 460px;
  height: 320px;
}

#ch_info {
  margin-top: 5px;
  margin-left: 18px;
  width: 400px;
  height: 170px;
  font-family: 'GmarketSansMedium';
  font-size: 24px;
  padding: 10px;
  overflow-y: scroll;
  text-align: left;
}

#ch_info::-webkit-scrollbar {
  width: 5px; /* 스크롤바 너비 */
  height: 5px; /*가로 스크롤바 높이*/
}

#ch_info::-webkit-scrollbar-track {
  background:none; /* 트랙 배경 색상 */
  border-radius: 10px; /* 트랙 모서리 둥글게 */
}

#ch_info::-webkit-scrollbar-thumb {
  background: burlywood; /* 핸들 색상 */
  border-radius: 10px; /* 핸들 모서리 둥글게 */
}

#ch_info::-webkit-scrollbar-thumb:hover {
  background: rgb(222, 160, 80); /* 호버 시 핸들 색상 */
}

.update_btn {
  opacity: 0.8;
  width: 49px;
  position: absolute;
  top: 430px;
  filter: invert(98%) sepia(17%) saturate(792%) hue-rotate(309deg) brightness(100%) contrast(97%);
}

.update_btn:hover {
  opacity: 1.0;
}

.error_text {
  width: 450px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.er_price {
  margin-top: -3px;
}

.er_info {
  margin-bottom: 3px;
}
.errorMessage {
  text-align: left;
  font-family: 'GmarketSansMedium';
  font-size: 18px;
  color: red;
}