/*@font-face {*/
/*  font-family: 'GmarketSansMedium';*/
/*  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*}*/

body {
  margin: 0;
  /*height: 100vh;*/
  background-color: #10573e;
  /*margin-bottom: 500px;*/
  caret-color: transparent;
  /*overflow-x: hidden;*/
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
}

#conMenu {
  display: flex;
  align-items:center;
  justify-content: center;
  max-width: 1300px;  /* 최대 폭 지정 */
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

.menu_container {
  text-align: center;
  width: 450px;
  height: 700px;
  margin: 30px;
  padding: 50px;
  background-image: url('/img/management/menu.jpg');
  background-size: 550px 700px;
  background-position: center;
  background-repeat: no-repeat;
}

.titleText {
  margin-top: 50px;
  padding-bottom: 5px;
  font-size: 55px;
  font-family: "Meddon", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.menuTable {
  width: 450px;
  border-collapse: collapse;
  font-family: "Noto Sans KR", sans-serif;
}

.tableList {
  background-color: #f9f9f9;
  display: table;
  width: 449px; /* 스크롤바 너비를 감안한 조정 */
  height: 40px;
  font-size: 20px;
  border: 2px solid burlywood;
}

.table-content {
  display: block;
  height: 350px; /* 원하는 높이로 설정 */
  overflow-y: scroll;
  width: 447px;
  color: black;
  border: 2px solid burlywood;
}

.table-content::-webkit-scrollbar {
  width: 5px; /* 스크롤바 너비 */
  height: 5px; /*가로 스크롤바 높이*/
}

.table-content::-webkit-scrollbar-track {
  background:none; /* 트랙 배경 색상 */
  border-radius: 10px; /* 트랙 모서리 둥글게 */
}

.table-content::-webkit-scrollbar-thumb {
  background: rgba(16, 87, 62, 0.89); /* 핸들 색상 */
  border-radius: 10px; /* 핸들 모서리 둥글게 */
}

.table-content::-webkit-scrollbar-thumb:hover {
  background: #10573e; /* 호버 시 핸들 색상 */
}

th, td {
  padding: 8px 12px;
  box-sizing: border-box;
}

.table-content tr {
  display: table;
  table-layout: fixed;
  height: 50px;
  width: 440px;
  border-top: 1px solid burlywood;
  border-bottom: 1px solid burlywood;
}

td.checkbox {
  width: 45px;
  border-right: 1px solid burlywood;
}

.ctt_name_title {
  text-align: center;
  width: 300px;
}

.ctt_name {
  text-align: center;
  font-size: 18px;
  width: 300px;
}

.sequence {
  width: 74px;
  text-align: center;
  font-size: 16px;
  border-right: 1px solid burlywood;
}

.item {
  font-family: "Noto Sans KR", sans-serif;
  width: 310px;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 48px;
}

a, a:hover {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  display: inline-block;
  line-height: 36px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.title, .sequence_title {
  border: 2px solid burlywood;
  width: 45px;
}

td.chg {
  width: 62px;
  border:1px solid burlywood;

  border-right: 0;
}

.title_chg {
  width: 30px;
  border: 2px solid burlywood;
}

.ctt_name_title_chg {
  text-align: center;
  width: 180px;
}

.sequence_title {
  text-align: center;
}

.icon {
  margin-top: 12px;
  display: flex;
  gap: 10px;
  align-content: center;
  justify-content: right;
}

.btn-sequence  {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-content: center;
  justify-content: right;
}

/* 기본 체크박스를 숨기고 커스텀 스타일을 적용합니다 */
.custom-checkbox {
  display: none;
}

.custom-label {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  padding-left: 0.5px;
  cursor: pointer;
  user-select: none;
}

.custom-label:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border: 2px solid sandybrown;
  border-radius: 4px;
  background-color: #fff;
}

.custom-checkbox:checked + .custom-label:before {
  background-color: burlywood;
  border-color: firebrick;
}

.custom-label:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 5px;
  top: -2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.custom-checkbox:checked + .custom-label:after {
  opacity: 1;
}

.btn {
  text-align: right;
}

.btn_add, .btn_del, .btn_up, .btn_down, .btn_save {
  display: inline-block;
  border: none;
  background: none;;
  cursor: pointer;
  padding: 0;
  margin-right: 0px;
  margin-top: 3px;
  width: 0;
}

.icon .btn_add {
  margin-right: 35px;
  margin-top: 5px;
}

.btn_del {
  margin-right: 25px;
}

img:hover {
  opacity: 1;
}

img {
  opacity: 0.8;
  filter: invert(76%) sepia(51%) saturate(257%) hue-rotate(352deg) brightness(90%) contrast(92%);
}

.btn_add img {
  display: block;
  width: 40px; /* 이미지 너비 조정 */
}

.btn_del img, .btn_save img {
  display: block;
  width: 35px;
}

.btn_up img, .btn_down img {
  display: block;
  width: 40px;
}

.btn_up, .btn_down {
  width: 40px;
}

.save {
  position: relative;
  max-width: 1300px;
  height: 50px;
  top: 0;
  left: 0;
}
.btn_save {
  position: absolute;
  right: 90px;
  top: -70px;
}

.btn_save img {
  width: 60px;
  filter: invert(98%) sepia(17%) saturate(792%) hue-rotate(309deg) brightness(100%) contrast(97%);
}

.decoContent {
  position: relative;
  max-width: 1300px;
  height: 50px;
  top: 0;
  left: 0;
}

#leftDown {
  position: absolute;
  width: 300px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/img/management/rightdown.png');
  left: 10px;
  top: 860px;
  transform: rotate(30deg) translate(-50%, -50%);
  z-index: 101;
}
#rightUp {
  position: absolute;
  width: 280px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/img/management/butterfly.png');
  left: 390px;
  top: 10px;
  transform: rotate(40deg);
  z-index: 101;
}
#middleUp {
  position: absolute;
  width: 150px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/img/management/rose.png');
  left: 0px;
  bottom: 690px;
  transform: rotate(33deg);
  z-index: 101;
}
#leftUp {
  position: absolute;
  width: 230px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/img/management/rosestick.png');
  left: 420px;
  bottom: 690px;
  transform: rotate(20deg) scaleY(-1);
  z-index: 101;
}

/* 큰 화면 전용 */
@media (min-width: 768px) {
  #container {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;  /* 최대 폭 지정 */
  }
  .menu_container {
    margin: 80px 50px 0px 50px;
  }

  #rightUp{
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 1100px;
    top: -380px;
    transform: rotate(40deg);
  }
  #leftDown {
    display: block;
    position: absolute;
    width: 280px;
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/img/management/rightdown.png');
    transform: rotate(33deg) translate(-50%, -50%);
    left: 20px;
    top: 495px;
    z-index: 101;
  }
  #middleUp{
    position: absolute;
    width: 150px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/img/management/rose.png');
    left: 510px;
    top: -260px;
    transform: rotate(33deg);
    z-index: 101;
  }
  #leftUp{
    position: absolute;
    width: 260px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/img/management/rosestick.png');
    left: -50px;
    top: -350px;
    transform: rotate(-20deg) scaleY(-1) scaleX(-1);
    z-index: 101;
  }
  .btn_save {
    position: absolute;
    right: 110px;
    top: 840px;
  }
}