<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/calendar/calendar.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Freeman&family=League+Gothic&family=Meddon&family=Sacramento&family=Staatliches&family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Damion&family=Freeman&family=League+Gothic&family=Meddon&family=Permanent+Marker&family=Sacramento&family=Staatliches&family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&family=DM+Serif+Display:ital@0;1&family=Damion&family=Freeman&family=League+Gothic&family=Meddon&family=Permanent+Marker&family=Sacramento&family=Staatliches&family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@387&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&display=swap" rel="stylesheet">

    <script th:inline="javascript">
        var menuList = [[${menuList}]];
    </script>

    <title>Calendar</title>
</head>

<body>
    <th:block th:insert="~{common/header::header}"></th:block>

    <!-- 오늘의 메뉴 리스트 팝업 -->
    <div class="form-popup1" id="myForm">
        <div class="form-container form-text-style">
            <div class="menu-scroll">
                <div class="menu-title">
                    <button type="button" class="menu-close">
                        <span class="fa fa-xmark">X</span>
                    </button>
                    <h2 class="title-text">오늘의 메뉴</h2>
                </div>
                <hr class="line">
                <div class="menu-list">
                    <div th:each="menu : ${menuList}" th:unless="${menu.sequence == -1}" class="menu" th:data-menu-id="${menu.id}">
                        <img class="menu-img-list" th:src="${menu.imgUrl}" th:alt="${menu.name}">
                        <p class="menu-name" th:text="${menu.name}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 오늘의 메뉴 작성 및 수정 팝업 -->
    <div class="form-popup2" id="myForm2">
        <div class="form-container form-text-style">
            <div class="select-menu-scroll">
            <div class="menu-title">
                <button type="button" class="menu-close menu-close2">
                    <span class="fa fa-xmark">X</span>
                </button>
                <h2 class="title-text">오늘의 메뉴</h2>
            </div>
                <div class="select-menu">
                    <div class="img-container">
                        <img class="select-menu-img">
                        <button class="change-menu-button">메뉴 바꾸기</button>
                    </div>
                    <p class="select-menu-name"></p>
                </div>
                <div class="select-menu-text">
                    <textarea id="select-menu-text" placeholder="코멘트를 입력하세요."></textarea>
                </div>
                <div class="select-menu-buttons">
                    <button type="button" class="btn-cancel">취소</button>
                    <button type="button" class="btn-save">저장</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 메인 화면 -->
    <div class="main-view">
        <div class="container-fluid my-calendar clearfix">

        <!-- 일정 메모 -->
        <div class="schedule-container">
            <div class="memo-container">
                <p class="event-text">일정</p>
                <button id="btn-add-memo">+</button>
            </div>

            <div id="notification" class="notification-container">
                <div class="notification-content">
                    <p class="notification-text">일정 추가 버튼을 클릭해 일정을 <br>저장하시려면 ENTER 버튼, 취소하시려면<br> ESC 버튼을 누르세요.</p>
                </div>
            </div>
            <!-- 추가될 메모 부분 -->
            <div class="clicked-date">
                <ul class="event-list"></ul>
                <textarea id="new-memo"></textarea>
            </div>

        </div>

        <!-- 캘린더-->
        <div class="calendar-box">
            <div class="ctr-box clearfix">
                <div class="cal-controls">
                    <button type="button" title="prev" class="btn-cal prev"></button>
                    <span class="cal-year"></span>
                    <span class="cal-month"></span>
                    <button type="button" title="next" class="btn-cal next"></button>
                </div>
            </div>
            <table class="cal-table">
                <thead>
                <tr>
                    <th>일</th>
                    <th>월</th>
                    <th>화</th>
                    <th>수</th>
                    <th>목</th>
                    <th>금</th>
                    <th>토</th>
                </tr>
                </thead>
                <tbody class="cal-body"></tbody>
            </table>
        </div>

        <!-- 오늘의 메뉴 -->
        <div class="add-menu-container">
            <div class="menu-text-container">
                <p class="event-text">오늘의 메뉴</p>
                <button id="btn-add-menu">+</button>
            </div>

            <div id="notification-menu" class="notification-menu-container">
                <div class="notification-menu-content">
                    <p class="notification-menu-text">등록한 오늘의 메뉴가 없습니다.</p>
                </div>
            </div>

            <!-- 오늘의 메뉴 추가될 부분 -->
            <div class="menu-container today-menu-container"></div>
        </div>
        </div>
    </div>
</body>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src = " https://unpkg.com/sweetalert/dist/sweetalert.min.js " > </script>
    <script th:src="@{/js/common/header.js}"></script>
    <script th:src="@{/js/calendar/calendarData.js}"></script>
    <script th:src="@{/js/calendar/calendar.js}"></script>

</html>
