.article {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    overflow: auto;
    overflow-x: hidden;
}

.article #favorite {
    height: auto;
    margin-top: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 20px;
    align-content: start;
}

.article::-webkit-scrollbar {
    width: 10px;
}

.article::-webkit-scrollbar-thumb {
    background: #289871;
    border-radius: 5px 0 0 5px;
}

.box {
    width: 250px;
    height: 300px;

    margin-top: 35px;

    position: relative;
}

#randomrotate1{
    transform: rotate(3deg);
}
#randomrotate2{
    transform: rotate(-3deg);
}
#randomrotate3{
    transform: rotate(2deg);
}
#randomrotate4{
    transform: rotate(-2deg);
}

.background1, .background2,
.background3, .background4,
.background5, .background6 {
    content: url('/img/bookmark/memo1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 300px;
    height: 340px;
    left: -10%;
    top: -10%;

    position: absolute;
    overflow: visible;
}

.background2 {
    content: url('/img/bookmark/memo2.png');
}
.background3 {
    content: url('/img/bookmark/memo3.png');
    height: 350px;
}
.background4 {
    content: url('/img/bookmark/memo4.png');
    top: -7%;
}
.background5 {
    content: url('/img/bookmark/memo5.png');
    left: -16%;
}
.background6 {
    content: url("/img/bookmark/memo6.png");
    height: 355px;
    top: -13%;
}

.info {
    width: 250px;
    height: 300px;

    position: relative;
}

table {
    width: 100%;
    height: 100%;
    text-align: center;
}

#drop {
    width: 20px;
    height: 20px;

    position: absolute;
    top: 7px;
    left: 27px;

    display: none;
}

#bookmark_name {
    font-size: 20px;
    font-weight: bold;

    padding-bottom: -5px;
}

#cocktailImg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 120px;
    width: 180px;
    border-radius: 3%;
    margin-right: 5px;

    position: relative;

    margin: 0 auto;
    text-align: center;
}

.CII {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 70%;
    height: 50%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);

    transform: translate(-50%, -50%);

    display: none;
}

#cartIn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50px;
    height: 50px;
}

.C1 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.I {
    position: absolute;
    right: 15px;
    bottom: 3px;
}

#modify {
    width: 20px;
    height: 20px;

    display: none;
}