.article {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    overflow: auto;
    overflow-x: hidden;
}

.article #favorite {
    font-family: "Noto Sans KR", sans-serif;

    height: auto;
    margin-top: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 20px;
    align-content: start;
}

.article::-webkit-scrollbar {
    width: 10px;
}

.article::-webkit-scrollbar-thumb {
    background: #289871;
    border-radius: 5px 0 0 5px;
}

.box {
    width: 250px;
    height: 300px;
    margin-top: 35px;
    text-align: center;

    position: relative;
}

#randomrotate1{
    transform: rotate(3deg);
}
#randomrotate2{
    transform: rotate(-3deg);
}
#randomrotate3{
    transform: rotate(2deg);
}
#randomrotate4{
    transform: rotate(-2deg);
}

.background {
    width: 250px;
    height: 300px;

    position: relative;
}

.background1 #memoImg, .background2 #memoImg,
.background3 #memoImg, .background4 #memoImg,
.background5 #memoImg, .background6 #memoImg {
    content: url('/img/bookmark/memo1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 115%;
    height: 115%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
}

.background2 #memoImg {
    content: url('/img/bookmark/memo2.png');
}
.background3 #memoImg {
    content: url('/img/bookmark/memo3.png');
}
.background4 #memoImg {
    content: url('/img/bookmark/memo4.png');
}
.background5 #memoImg {
    content: url('/img/bookmark/memo5.png');
}
.background6 #memoImg {
    content: url("/img/bookmark/memo6.png");
}

.drop {
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: none;
}

.drop img {
    width: 25px;
    height: 25px;
    z-index: 7;
}

/* 배경메모에 따른 삭제버튼 유동성 */
.background1 .drop{
    position: absolute;
    top: 15px;
    right: 10px;
}
.background2 .drop{
    position: absolute;
    top: 7px;
    right: 10px;
}
.background3 .drop{
    position: absolute;
    top: 7px;
    right: 12px;
}
.background4 .drop{
    position: absolute;
    top: 3px;
    right: 10px;
}
.background5 .drop{
    position: absolute;
    top: 7px;
    right: 10px;
}
.background6 .drop{
    position: absolute;
    top: 13px;
    right: 8px;
}

.info {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cocktail_name {
    font-family: "Playwrite AU VIC", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;

    margin-top: 18px;
    margin-bottom: 5px;
}

.cocktail-con {
    position: relative;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

#cocktailImg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 140px;
    width: 185px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.CII {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);

    display: none;
    cursor: pointer;

    /*display: flex;*/
    flex-direction: column;
    align-items: center;
}

#cartIn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50px;
    height: 50px;
}

.CI {
    /*border: 1px solid red;*/
    width: 100%;
    height: 70px;

    position: relative;
    margin-top: 5px;
}

.I {
    position: absolute;
    right: 15px;
    bottom: 3px;
    cursor: pointer;
    z-index: 3;
}

#modify {
    width: 20px;
    height: 20px;

    display: none;
}

.modifyBox {
    width: 100%;
    height: 100%;
}

.comment-con {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 4;

    display: none;
}

#commentCheck {
    width: 20px;
    height: 20px;

    position: absolute;
    right: 3px;
    bottom: 3px;
}
