
.article {
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; /* 자식 요소들을 가로 중앙에 배치 */
    margin-top: 180px;
    margin-bottom: 130px;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.receipt {
    padding: 20px;
    width: 400px;
    border: 1px solid #ccc;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: visible;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
}

.receipt .background {
    position: absolute;
    width: 110%;
    height: 113%;
    top: -7%;
    left: -5%;
    z-index: 1;
}

.background img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.receipt .content {
    position: relative;
    z-index: 2;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    margin-top: 10px;
}

.dashed {
    border-top: 1.5px dashed #00000060;
    margin: 10px 0px;
}

.shopname {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.date-time {
    font-size: 14px;
    text-align: right;
}

.order-nm {
    text-align: left;
    font-size: 13px;
    color: #979797;
}

.name {
    font-size: 18px;
}

.item-header {
    justify-content: space-between;
    font-size: 13px;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
}

.menuName {
    text-align: left;
}

.review {
    text-align: right;
}

.items .item {
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 3px;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
}

.item-name {
    float: left;
    text-align: left;
}

.item-price {
    text-align: center;
}

[name="reviewBtn"] {
    background-color: white;
    border: 1px solid rgb(211, 211, 211);
    font-weight: 500;
    float: right;
}

[name="reviewBtn"]:hover {
    background-color: rgb(177, 213, 177);
    color: black;
    /*border: none;*/
}

[name="reviewBtn"]:active {
    background-color: rgb(141, 185, 141);
}

[value="리뷰확인"]{
    background-color: lightgray;
}

#view {
    background-color: #e1e1e1;;

}

[name="showBtn"] {
    background-color: rgb(229, 247, 233);
    border: 1px solid rgb(211, 211, 211);
    color: rgb(0, 0, 0);
    float: right;
}

.totals {
    padding-top: 10px;
    margin-top: 10px;
}

.total-item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
}

.no-orders {
    padding: 150px;
    text-align: center;
    margin: 50px 0;
    background-image: url(/img/mypage/receipt.png);
    background-repeat: round;
}

.no-orders p {
    font-size: 15px;
    color: #818181;
    font-weight: 100;
}

.no-orders a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #9d9d9d;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    border-radius: 35px;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
    font-size: 15px;
}

.no-orders a:hover {
    background-color: #878787;
    color: white;
    transform: translateY(-5px); /* 살짝 위로 올림 */
}

.no-orders img{
    width: 55px;
    margin-bottom: 7px;
}

/*모달 팝업 영역 스타일링*/
.modal {
    display: none;
    position: relative;
    top: -250px;
    left: -220px;
    width: 500px;
    height: 500px;
}
.modal .modal_popup {
    /*팝업*/
    position: absolute;
    top: 50%;
    left: -37%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    z-index: 3;
    border:1px solid #9e7171;
    width: 400px;
}
.modal .modal_popup .close_btn {
    display: block;
    padding: 10px 20px;
    background-color: rgb(116, 0, 0);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansLight';
    font-weight: 600;
}

#review-form {
    width: 380px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(243, 243, 243);
}

.form-group label {
    margin-top: 7px;
}

label {
    display: block;
    font-weight: bold;
    justify-items: center;
}

input[type="text"],
textarea {
    width: 78%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form-left {
    float: left;
    font-size: 12px;
}

input[type="text"] {
    float: right;
    background-color: #EAF1EF;
}

textarea {
    min-height: 100px;
    resize: vertical;
    float: right;
}

#back_button {
    padding: 12px 20px;
    background-color: #10573e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-weight: 500;
}

#back_button:hover {
    background-color: #468969;
}

#review-form hr {
    border: none;
    height: 1px;
    background-color: #dbdbdb;
    width: 100%;
}

.footer {
    margin-top: 20px;
}

#star_rate{
    display: block;
    align-items: center;
    margin-left: 63px;
    direction: rtl;
}

/*찬별*/
.rating > input:checked ~ label, .rating > input:checked ~ label:before {
    background-image: url(/img/review/yellow_star.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 29px;
    margin: 0 0;
    margin-bottom: 2px;
}

/*빈별*/
.rating > label {
    display: inline-block;
    background-image: url(/img/review/grey_star.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 29px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    margin: 0 0;
    margin-bottom: 2px;
}

.rating > input[type="radio"] {
    display: none;
}

textarea#content {
    height: 150px;
    text-overflow: inherit;
    resize: none;
    padding: 15px;
    background-color: #EAF1EF;
}

textarea#content:focus {
    outline: none; /* 클릭 시 발생하는 기본적인 아웃라인 스타일을 제거합니다. */
}

textarea#content::-webkit-scrollbar {
    width: 5px; /* 스크롤바 너비 */
    height: 5px; /*가로 스크롤바 높이*/
}

textarea#content::-webkit-scrollbar-track {
    background:none; /* 트랙 배경 색상 */
    border-radius: 10px; /* 트랙 모서리 둥글게 */
}

textarea#content::-webkit-scrollbar-thumb {
    background: #10573e; /* 핸들 색상 */
    border-radius: 10px; /* 핸들 모서리 둥글게 */
}

textarea#content::-webkit-scrollbar-thumb:hover {
    background: #10573e; /* 호버 시 핸들 색상 */
}

.rating-group {
    display: flex;
    align-items: center;
}

.buttons{
    float: right;
}
input#back, input#update, input#delete{
    background-color: #c4eacd;
    margin-right: 7px;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 80px;
}

input#delete{
    background-color: #ffe5e5;
    color: red;
    border: none;
}

.text-center > h5 {
    text-align: center;
    font-size: 10px;
    color: #bfbfbf;
}

#back_btn {
    float: right; /* 오른쪽 정렬 */
    background-color: transparent; /* 배경색 투명 */
    border: none; /* 테두리 제거 */
    font-size: 20px; /* 폰트 크기 조정 */
    cursor: pointer; /* 포인터 모양 변경 */
    margin-right: 10px; /* 오른쪽 여백 조정 */
    color: black;
}

/* 에러 메시지 스타일 추가 */
.error {
    color: red;
    margin-top: 5px;
    font-size: 12px;
    float: left;
    width: 400px;
    margin-top: -5px;
    margin-left: 87px;
    margin-bottom: 1px;
}

div#star_rate.rating{
    margin-top: 10px;
}





