
.article {
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; /* 자식 요소들을 가로 중앙에 배치 */
    margin-top: 180px;
    margin-bottom: 130px;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.receipt {
    padding: 20px;
    width: 400px;
    border: 1px solid #ccc;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: visible;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
}

.receipt .background {
    position: absolute;
    width: 110%;
    height: 120%;
    top: -13%;
    left: -5%;
    z-index: 1;
}

.background img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.receipt .content {
    position: relative;
    z-index: 2;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    margin-top: 10px;
}

.dashed {
    border-top: 1.5px dashed #00000060;
    margin: 10px 0px;
}

.shopname {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.date-time {
    font-size: 14px;
    text-align: right;
}

.order-nm {
    text-align: left;
    font-size: 13px;
    color: #979797;
}

.name {
    font-size: 18px;
}

.item-header {
    justify-content: space-between;
    font-size: 13px;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
}

.menuName {
    text-align: left;
}

.review {
    text-align: right;
}

.items .item {
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 3px;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
}

.item-name {
    float: left;
    text-align: left;
}

.item-price {
    text-align: center;
}

[name="reviewBtn"] {
    background-color: white;
    border: 1px solid rgb(211, 211, 211);
    font-weight: 500;
    float: right;
}

[name="reviewBtn"]:hover {
    background-color: rgb(177, 213, 177);
    color: black;
    /*border: none;*/
}

[name="reviewBtn"]:active {
    background-color: rgb(141, 185, 141);
}

[value="리뷰확인"]{
    background-color: lightgray;
}

#view {
    background-color: #e1e1e1;;

}

[name="showBtn"] {
    background-color: rgb(229, 247, 233);
    border: 1px solid rgb(211, 211, 211);
    color: rgb(0, 0, 0);
    float: right;
}

.totals {
    padding-top: 10px;
    margin-top: 10px;
}

.total-item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
}

.no-orders {
    padding: 150px;
    text-align: center;
    margin: 50px 0;
    background-image: url(/img/mypage/receipt.png);
    background-repeat: round;
}

.no-orders p {
    font-size: 15px;
    color: #818181;
    font-weight: 100;
}

.no-orders a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #9d9d9d;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    border-radius: 35px;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
    font-size: 15px;
}

.no-orders a:hover {
    background-color: #878787;
    color: white;
    transform: translateY(-5px); /* 살짝 위로 올림 */
}

.no-orders img{
    width: 55px;
    margin-bottom: 7px;
}
