#topnav_container {
    max-width: 1300px;  /* 최대 폭 지정 */
    margin-left: auto;
    margin-right: auto;
}


.topnav {
    /*padding-top: 10px;*/
    overflow: visible;
    /*background-color: #EADBC8;*/
    /*background-color: #F9EDD4;*/
    /*background: linear-gradient(to right,*/
    /*    rgba(0, 0, 0, 0) 0%,*/
    /*    #F9EDD4 20%,*/
    /*    #F9EDD4 40%,*/
    /*    #F9EDD4 60%,*/
    /*    #F9EDD4 80%,*/
    /*    rgba(0, 0, 0, 0) 100%);*/

    height: 100px;
    max-width: 1300px;  /* 최대 폭 지정 */
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    padding-left: 80px;
    padding-right: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border-bottom: 1px solid #f8e9d7;*/
    margin-bottom: 30px;
}

section {
    flex-basis: 150px;
}

.headermenu{
    /*background-color: #a2ff4b;*/
    width: 60px;
    height: 60px;
    padding: 10px;
    border: none;
    outline: none;
    background: none;
}

#menuIcon{
    background-image: url('/img/header/menuIcon.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    filter: invert(100%) sepia(5%) saturate(4714%) hue-rotate(305deg) brightness(95%) contrast(108%);
}
.headeruser{
    width: 60px;
    height: 60px;
    padding: 5px;
    margin-right: 10px;
}
#userIcon{
    background-image: url('/img/header/userIcon.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    filter: invert(100%) sepia(5%) saturate(4714%) hue-rotate(305deg) brightness(95%) contrast(108%);
}

#userIcon:hover {
    filter: invert(94%) sepia(19%) saturate(6643%) hue-rotate(297deg) brightness(105%) contrast(99%);
}

#headerlogo{
    padding: 7px;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.headerlogo{
    background-image: url('/img/header/logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
a {
    color: #f8e9d7;
    text-align: center;
    text-decoration: none;
    display: block;

    font-family: "League Gothic", sans-serif;
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
    height: 100%;
}

#headeruser{
    display: flex;
    align-items: center;
}
#login{
    background-color: #DAC0A3;
    margin-left: auto;
}
.headerButton{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    color: #f8e9d7;
    border: none;
    width: 100px;
    height: 100%;

    text-align: center;
    padding: 28px;
    display: block;

    font-family: "League Gothic", sans-serif;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;

    background-color: rgba(255, 255, 255, 0);
}
.headerButton:hover {
    color: #ffa6a6;
}

#manunav {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    padding: 10px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*outline: 2px solid red;*/

}

.nav_list {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 25px;
}

