<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/chatCart.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/bookmark.css}">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Freeman&family=League+Gothic&family=Meddon&family=Sacramento&family=Staatliches&family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@387&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&display=swap" rel="stylesheet">

</head>
<body>
    <!--/* 헤더 */-->
    <th:block th:insert="~{common/header::header}"></th:block>


    <div class="all">
        <!-- sidebar -->
        <th:block th:insert="~{common/sidebar::sidebar}"></th:block>

        <!-- chat&cart -->
        <th:block th:insert="~{common/chatCart::chatCart}"></th:block>

        <th:block th:with="logged_user=${#authentication.principal.user}">
            <!-- 즐겨찾기 모음집 -->
            <div class="article" id="custom-scrollbar">
<!--                <div class="reload"></div>-->
                <div id="favorite">
                </div>
            </div>

            <!-- user 정보 받기 -->
            <script th:inline="javascript">
                const logged_id = [[${logged_user.id}]]
                const menuList = [[${menuList}]];
                const list = [[${allList}]];
            </script>

            <script th:src="@{/js/common/chatCart.js}"></script>
            <script th:src="@{/js/cart/cartData.js}"></script>
            <script th:src="@{/js/chat/chatData.js}"></script>

        </th:block>
    </div>



    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script th:src="@{/js/sidebar/sidebar.js}"></script>


    <script th:src="@{/js/bookmark/bookData.js}"></script>
    <script th:src="@{/js/mypage/bookmark.js}"></script>
</body>
</html>