<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src = " https://unpkg.com/sweetalert/dist/sweetalert.min.js " > </script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/order.css}"> <!-- 해당 경로에 CSS 넣기 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/chatCart.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/pagination.css}">

    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Freeman&family=League+Gothic&family=Meddon&family=Sacramento&family=Staatliches&family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@387&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&display=swap" rel="stylesheet">

    <script th:inline="javascript">
        let orderList = [[${list}]];
        let orderItemMap = [[${orderItemsByOrderId}]];
        let itemReviewMap = [[${reviewByOrderItemId}]];
        let user = [[${user}]];
        let url = [[${url}]];
        let page = [[${page}]];
    </script>
</head>
<body>
<!--/* 헤더 */-->
<th:block th:insert="~{common/header::header}"></th:block>

<div class="all">
    <!-- sidebar -->
    <th:block th:insert="~{common/sidebar::sidebar}"></th:block>

    <!-- chat&cart -->
    <th:block th:insert="~{common/chatCart::chatCart}"></th:block>

    <div class="article">
        <div class="container">
        </div>
    </div>


    <th:block th:with="logged_user=${#authentication.principal.user}">
        <!-- user 정보 받기 -->
        <script th:inline="javascript">
            const logged_id = [[${logged_user.id}]]
            const menuList = [[${menuList}]];
        </script>

        <script th:src="@{/js/common/chatCart.js}"></script>
        <script th:src="@{/js/cart/cartData.js}"></script>
        <script th:src="@{/js/chat/chatData.js}"></script>
    </th:block>
    <th:block th:with="page=${page}, startPage=${startPage}, endPage=${endPage}, totalPage=${totalPage}, url=${url}">
        <div class="containerA">
            <ul class="pagination justify-content-center">
                <!--/* << 표시여부 */-->
                <li class="page-item" th:if="${page > 1}"><a class="page-link" th:href="${url}" title="처음"><i class="fas fa-angle-double-left"><<</i></a></li>
                <!--/* < 표시 여부 */-->
                <li class="page-item" th:if="${startPage > 1 }"><a class="page-link" th:href="@{${url }(page=${startPage - 1 })}"><i class='fas fa-angle-left'><</i></a></li>


                <!--/* 페이징 안의 '숫자' 표시 */-->
                <th:block th:if="${totalPage > 1 }">
                    <th:block th:each="k: ${#numbers.sequence(startPage, endPage)}">
                        <li class="page-item" th:unless="${k == page }"><a class="page-link" th:href="@{${url }(page=${k})}" th:text="${k}"></a></li>
                        <li class="page-item active" th:if="${k == page }"><a class="page-link" href="javascript:void(0);" th:text="${k}"></a></li>
                    </th:block>
                </th:block>


                <!--/* > 표시 여부 */-->
                <li class="page-item" th:if="${totalPage > endPage }"><a class="page-link" th:href="@{${url }(page=${endPage + 1 })}"><i class='fas fa-angle-right'>></i></a></li>


                <!--/* >> 표시 여부 */-->
                <li class="page-item" th:if="${page < totalPage }"><a class="page-link" th:href="@{${url }(page=${totalPage })}"><i class='fas fa-angle-double-right'>>></i></a></li>
            </ul>
        </div>
    </th:block>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script th:src="@{/js/mypage/order.js}"></script>
<script th:src="@{/js/common/header.js}"></script>

</body>
</html>
