<div class="article">
    <div class="container">
        <div class="receipt" th:each="order, orderIndex : ${orders}">
            <div class="background">
                <img th:src="@{/img/mypage/receipt.png}">
            </div>
            <div class="content">
                <h2 class="shopname">LubberDuck</h2>
                <div class="header-info">
                    <p class="name" th:text="${user.nickname}">User</p>
                    <p class="date-time"></p>
                </div>
                <p class="order-nm" th:text="${order.id}">주문번호: 25623</p>
                <div class="dashed"></div>
                <div class="item-header">
                    <span class="menuName">&lt;메뉴이름&gt;</span>
                    <span class="quantity" th:text="${orderItemsMap[order.id].size()}">&lt;주문수량&gt;</span>
                    <span class="menuPrice">&lt;메뉴가격&gt;</span>
                    <span class="review">&lt;리뷰작성&gt;</span>
                </div>
                <div class="dashed"></div>
                <div class="items">
                    <div class="item" th:each="orderItem : ${orderItemsMap[order.id]}">
                        <span class="item-name" th:text="${orderItem.menu.name}">Daiquiri</span>
                        <span class="quantity" th:text="${orderItem.quantity}">1</span>
                        <span class="item-price" th:text="${orderItem.menu.price}">8,900원</span>
                        <span><input type="button" value="리뷰작성" name="reviewBtn" onclick="location.href='reviews.html'"></span>
                    </div>
                </div>
                <div class="dashed"></div>
                <div class="totals">
                    <div class="total-item">
                        <span class="total-label">TOTAL:</span>
                        <span class="total-price">31,700원</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
