body {
    margin: 0;
    height: 100vh;
    background-color: #10573e;
    margin-bottom: 1000px;
    caret-color: transparent;
    overflow-x: hidden;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

/*------------------------------------------- main */
#decoContent{
    position: fixed;
    left: 0px;
    top: 200px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    pointer-events: none; /* 부모의 이벤트 무시 */
}

.deco{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40%;
    height: 40%;
    position: absolute;
}
#leftup{
    background-image: url('/img/maindeco/leftup.png');
    left: 0%;
    top: 0%;
    transition: left 0.5s ease; /* Smooth transition */
}
#rightup{
    background-image: url('/img/maindeco/rightup.png');
    right: 0%;
    top: 0%;
    transition: right 0.5s ease; /* Smooth transition */
}
#leftdown{
    background-image: url('/img/maindeco/leftdown.png');
    left: 0%;
    bottom: 0%;
    transition: left 0.5s ease; /* Smooth transition */
}
#rightdown{
    background-image: url('/img/maindeco/rightdown.png');
    right: 0%;
    bottom: 0%;
    transition: right 0.5s ease; /* Smooth transition */
}

#mainContent{
    position: relative;
    width: 100vw;
    height: 150vh;
    /*background-color: lightblue; !* 원하는 배경색 *!*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#menuText{
    font-family: "Meddon", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    color: #f8e9d7;
    transform: skewY(-20deg); /* Adjust the skew angle */
    position: absolute;
    top: 30%;
}

/*------------------------------------------- menu */
#menuContent{
    position: relative;
    top: 100px;
}
#menuBody{
    height: 1000px;
    /*max-width: 1300px;  !* 최대 폭 지정 *!*/
    margin-left: auto;
    margin-right: auto;
    /*background-color: #9eb0c5;*/
    overflow-x: hidden;
    overflow-y: hidden;
    /*scroll-behavior: smooth; !* Enable smooth scrolling *!*/
    background-color: rgba(27, 101, 75, 0);
    /*box-shadow: inset -10px 0 10px -5px rgba(0, 0, 0, 0.5), !* 왼쪽 그림자 *!*/
    /*            inset 10px 0 10px -5px rgba(0, 0, 0, 0.5);  !* 오른쪽 그림자 *!*/
}

#menuscroll{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 2800px;
    position: relative;
    top: 60px;
}
#menuscroll > div {
    flex-shrink: 0; /* Prevent child divs from shrinking */
}

.menuTitle {
    width: 500px;
    height: 800px;
    background: linear-gradient(to bottom, #f8e9d7, #DAC0A3, #dea4af);
    position: relative;
    top: -18px;
    padding-left: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuTitle #label{
    background-image: url('/img/menu/barLabel.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    transform: translate(-5%, -25%);
}
.menuTitle #labelText{
    font-family: "Meddon", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: #54320f;
    transform: skewY(-20deg); /* Adjust the skew angle */
    position: absolute;
    bottom: 250px;
}

.menu {
    width: 0px;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.paper {
    height: 100%; /* Adjust as needed */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.paperRight {
    height: 100%; /* Adjust as needed */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transform: skewY(4deg); /* Adjust the skew angle */
    /*background-color: #F8F0E5;*/
    background: linear-gradient(to bottom, #fffbf5, #F8F0E5, #fde0e5);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 30px;
}

.paperLeft{
    height: 100%; /* Adjust as needed */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transform: skewY(-4deg); /* Adjust the skew angle */
    /*background-color: #EADBC8;*/
    background: linear-gradient(to bottom, #f6ecdf, #EADBC8, #fdd8df);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 30px;
}

.cocktailpart {
    /*background-color: aquamarine;*/
    height: 160px;
    /*margin-top: 10px;*/
    display: flex;
    justify-content: center;
    gap: 2%; /* 플렉스 아이템 간 10px 간격 설정 */
    align-items: center;
}

.thumbnail{
    /*background-color: cadetblue;*/
    width: 30%;
    height: 100%;
}
.explain{
    /*background-color: coral;*/
    width: 50%;
    height: 100%;
    position: relative; /* 자식 div의 기준이 되는 부모 div */
    overflow: hidden;
}

.thumbnail {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.cocktailname{
    font-family: "Damion", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    top: 15px;
    position: absolute;
    color: #512C1C;
}
.cocktailinfo{
    font-family: "Coming Soon", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    top: 60px;
    color: #512C1C;
    height: 62%;
    /*background-color: fuchsia;*/
}
.cocktailbutton{
    position: absolute;
    width: 70px;
    height: 35px;
    /*background-color: cornflowerblue;*/

    right: 0px;
    bottom: 10px;

    /*display: flex;*/
    display: none;
    justify-content: space-between;
}
#cocktailadd{
    width: 43%;
    height: 100%;
    /*background-color: #ffdcd9;*/
    background-image: url('/img/menu/addIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(63%) sepia(71%) saturate(461%) hue-rotate(309deg) brightness(101%) contrast(104%);
}
#cocktailadd:hover{
    filter: invert(39%) sepia(38%) saturate(1775%) hue-rotate(319deg) brightness(97%) contrast(85%);
}
#cocktaildetail{
    width: 47%;
    height: 100%;
    /*background-color: #ffdcd9;*/
    background-image: url('/img/menu/scopeIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(72%) sepia(15%) saturate(658%) hue-rotate(112deg) brightness(91%) contrast(87%);
}
#cocktaildetail:hover{
    filter: invert(47%) sepia(79%) saturate(372%) hue-rotate(113deg) brightness(92%) contrast(95%);
}

/*----------------------------------- customer buttons*/
#cutomerButtons{
    position: fixed;
    /*background-color: fuchsia;*/
    width: 130px;
    height: 75px;
    bottom: -20%;
    left: 15%;
    z-index: 10;
    transition: 0.5s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#cutomerButtons #buttonsbackground{
    position: absolute;
    border-radius: 5%;
    width: 160%;
    height: 130%;
    /*content: url("/img/maindeco/label.png");*/
    /*background-image: url('/img/maindeco/label.png');*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    background-color: #79B4A3;
    /*border: 1px solid #512C1C;*/
    /*filter: invert(54%) sepia(80%) saturate(1485%) hue-rotate(321deg) brightness(93%) contrast(94%);*/
    left: -30%;
}
#cutomerButtons #chat{
    width: 48%;
    height: 70%;
    /*background-color: chartreuse;*/
    background-image: url('/img/maindeco/chat.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%) sepia(30%) saturate(1254%) hue-rotate(296deg) brightness(102%) contrast(112%);
}
#cutomerButtons #board{
    width: 48%;
    height: 96%;
    /*background-color: darkorange;*/
    background-image: url('/img/maindeco/clipboard.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%) sepia(30%) saturate(1254%) hue-rotate(296deg) brightness(102%) contrast(112%);
}

/*----------------------------------- footer*/
#footer{
    height: 600px;
    width: 600px;
    max-width: 1300px;  /* 최대 폭 지정 */
    margin-left: auto;
    margin-right: auto;
}

