@charset "UTF-8";
* {
    box-sizing: border-box;
}

body {
    background-color: #10573e;
}

.all {
    width: 1000px;
    height: 1000px; /* 높이를 페이지에 맞게 고치기 */
    margin-left: auto;
    margin-right: auto;
}

.side {
    float: left;
    width: 20%;
    height: 100%;

    text-align: center;

    font-size: 18px;
    font-weight: bold;
    color: #f8e9d7;
}

.side #sideMenu {
    margin-top: 30px;
}

.side a {
    color: #f8e9d7;
    text-decoration: none;
}

.side .smTitle {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
}

.side .sm {
    display: block;
    height: 50px;

    text-align: center;
    line-height: 50px;
}

.article {
    width: 80%;
    height: 100%;

    /*background-color: #f8e9d7;*/
    background: linear-gradient(to bottom, #fffbf5, #F8F0E5, #fde0e5);
    border-radius: 10px;

    float: left;
}