@charset "UTF-8";
* {
    box-sizing: border-box;
}

body {
    background-color: #10573e;
}

.all {
    width: 1200px;
    height: 1000px; /* 높이를 페이지에 맞게 고치기 */
    margin-left: auto;
    margin-right: auto;
}

.side {
    float: left;
    width: 235px;
    height: 100%;

    text-align: center;

    font-size: 18px;
    font-weight: bold;
    color: #f8e9d7;
}

.side #sideMenu {
    margin-top: 30px;
}

.side a {
    color: #f8e9d7;
    text-decoration: none;
}

.side .sm {
    display: block;
    height: 50px;

    text-align: center;
    line-height: 50px;
}

.article {
    width: 965px;
    height: 100%;

    background-color: #f8e9d7;
    border-radius: 10px;

    float: left;
}