body {
    margin: 0;
    height: 100vh;
    background-color: #10573e;
    margin-bottom: 1000px;
    caret-color: transparent;
    overflow-x: hidden;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#container{
    background: linear-gradient(to bottom, #fffbf5, #F8F0E5, #fde0e5);
    height: 1100px;
    max-width: 1100px;  /* 최대 폭 지정 */
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
#cocktailsection{

}
#reviewsection{

}
#footer{
    height: 200px;
}

