body {
    margin: 0;
    height: 100vh;
    background-color: #10573e;
    caret-color: transparent;
    overflow-x: hidden;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

#container{
    background: linear-gradient(to bottom, #fffbf5, #F8F0E5, #fde0e5);
    height: 1700px;
    max-width: 1100px;  /* 최대 폭 지정 */
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items: center;
    gap: 30px;
}
#backgoundflower1{
    pointer-events: none;
    position: absolute;
    z-index: 2;
    width: 450px;
    height: 450px;
    align-self: baseline;
    top: 30px;
    background-image: url('/img/menu/detailFlower1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    transform: translate(-170px) rotate(10deg);
}
#backgoundflower2{
    pointer-events: none;
    position: absolute;
    z-index: 2;
    width: 400px;
    height: 400px;
    align-self: end;
    top: 900px;
    background-image: url('/img/menu/detailFlower2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    transform: translate(230px) rotate(90deg);
}
#backgoundframe1{
    pointer-events: none;
    position: absolute;
    z-index: 1;
    width: 600px;
    height: 90px;
    /*background-color: #fde0e5;*/
    top: 160px;
    /*background-image: url('/img/menu/detailFrame1.png');*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(95%) sepia(98%) saturate(1570%) hue-rotate(300deg) brightness(107%) contrast(80%);
}
#backgoundframe2{
    pointer-events: none;
    position: absolute;
    z-index: 1;
    width: 600px;
    height: 90px;
    top: 1720px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    filter: invert(62%) sepia(16%) saturate(565%) hue-rotate(302deg) brightness(107%) contrast(96%);
    transform: rotate(-180deg);
}

#cocktailsection{
    height: 40%;
    width: 90%;
    /*background-color: #0a9866;*/
    display: flex;
    justify-content : center;
    align-items: center;
    gap: 20px;
}
#cocktailImg{
    height: 80%;
    width: 45%;
    /*background-color: #e74c3c;*/

    position: relative; /* 가연 */
}
#img{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



/* /가연 */
#heartImg {
    width: 30px;
    height: 30px;

    position: absolute;
    right: 40px;
    bottom: 0;

    z-index: 3;
}

#heartImg .heart1 {
    width: 50px;
    height: 50px;
    background-image: url('/img/bookmark/emptyheart.png');
    background-size: cover;
    filter: invert(32%) sepia(59%) saturate(3068%) hue-rotate(339deg) brightness(80%) contrast(100%);;
}

#heartImg .heart2 {
    width: 50px;
    height: 50px;
    background-image: url('/img/bookmark/fullheart.png');
    background-size: cover;
    filter: invert(32%) sepia(59%) saturate(3068%) hue-rotate(339deg) brightness(80%) contrast(100%);;
}

.comment-con {
    display: none;
}

.comment {
    width: 100%;
    height: 200px;

    position: absolute;
    right: 0;
    bottom: -20px;

    z-index: 4;
}

#commentCheck {
    width: 30px;
    height: 30px;

    position: absolute;
    right: 20px;
    bottom: 0;

    z-index: 7;
}
/* 가연/ */



#cocktailInfo{
    height: 70%;
    width: 45%;
    /*background-color: chartreuse;*/
    display: flex;
    flex-direction: column;
    justify-content : space-between;
    align-items: center;
}
#cocktailInfo #name{
    /*background-color: #e74c3c;*/
    height: 20%;
    width: 95%;
    font-family: "Meddon", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    align-content: center;
    white-space: nowrap;
}
#cocktailInfo #star{
    /*background-color: aqua;*/
    height: 10%;
    width: 95%;
    display: flex;
    align-items: center;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
}
.stars{
    height: 40px;
    width: 40px;
    background-image: url('/img/review/yellow_star.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#cocktailInfo #info{
    /*background-color: blueviolet;*/
    height: 30%;
    width: 95%;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
}
#cocktailInfo #price{
    /*background-color: greenyellow;*/
    height: 15%;
    width: 95%;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 33px;
    align-content: center;
    text-align: end;
}
#cocktailInfo #cart{
    /*background-color: lightcyan;*/
    height: 15%;
    width: 95%;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
#cart #toCart{
    background-color: #F9E3CC;
    height: 80%;
    width: 120px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    align-content: center;
}
#cart #toCart:hover{
    background-color: #F3BD86;
}

/*-----------------------------------*/
#reviewsection{
    height: 40%;
    width: 90%;
    /*background-color: #c4eacd;*/
}
#footer{
    height: 200px;
}

