
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #10573e;
    margin-bottom: 1000px;
    caret-color: transparent;
    overflow-x: hidden;
    /*overflow-x: visible;*/
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

/*------------------------------------------- main */
#decoContent{
    position: fixed;
    left: 0px;
    top: 200px;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    pointer-events: none; /* 부모의 이벤트 무시 */
}

.deco{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40%;
    height: 40%;
    position: absolute;
}
#leftup{
    background-image: url('/img/maindeco/leftup.png');
    left: 0%;
    top: 0%;
    transition: left 0.5s ease; /* Smooth transition */
}
#rightup{
    background-image: url('/img/maindeco/rightup.png');
    right: 0%;
    top: 0%;
    transition: right 0.5s ease; /* Smooth transition */
}
#leftdown{
    background-image: url('/img/maindeco/leftdown.png');
    left: 0%;
    bottom: 0%;
    transition: left 0.5s ease; /* Smooth transition */
}
#rightdown{
    background-image: url('/img/maindeco/rightdown.png');
    right: 0%;
    bottom: 0%;
    transition: right 0.5s ease; /* Smooth transition */
}

#mainContent{
    position: relative;
    width: 100vw;
    height: 150vh;
    /*background-color: lightblue; !* 원하는 배경색 *!*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#menuText{
    font-family: "Meddon", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    color: #f8e9d7;
    transform: skewY(-20deg); /* Adjust the skew angle */
    position: absolute;
    top: 30%;
}

/*------------------------------------------- menu */
#menuContent{
    /*background-color: #e0d4c3;*/
    position: relative;
    top: 100px;
}
#menuBody{
    height: 1000px;
    width: 1300px;  /* 최대 폭 지정 */
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /*scroll-behavior: smooth; !* Enable smooth scrolling *!*/
    /*background-color: rgba(27, 101, 75, 0);*/
    /*background-color: #FFC107;*/
    /*box-shadow: inset -10px 0 10px -5px rgba(0, 0, 0, 0.5), !* 왼쪽 그림자 *!*/
    /*            inset 10px 0 10px -5px rgba(0, 0, 0, 0.5);  !* 오른쪽 그림자 *!*/
}

#menuscroll{
    /*background-color: #e74c3c;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    position: absolute;
    width: 0px;
    /*position: relative;*/
    top: 60px;
    /*overflow-x: scroll;*/
    cursor: pointer;
}

#menuscroll:hover {
    /*cursor: url('/img/cursor/freeHand.png'), auto;*/
    cursor: auto;
}
#menuscroll:active {
    /*cursor: url('/img/cursor/grabHand.png'), auto;*/
    cursor: grabbing;
}

#menuscroll > div {
    flex-shrink: 0; /* Prevent child divs from shrinking */
}

.menuTitle {
    width: 500px;
    height: 800px;
    background: linear-gradient(to bottom, #f8e9d7, #DAC0A3, #dea4af);
    position: relative;
    top: -18px;
    padding-left: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuTitle #label{
    background-image: url('/img/menu/barLabel.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    transform: translate(-5%, -25%);
}
.menuTitle #labelText{
    font-family: "Meddon", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: #54320f;
    transform: skewY(-20deg); /* Adjust the skew angle */
    position: absolute;
    bottom: 250px;
}

.menu {
    width: 0px;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    transition: width 0.8s ease;
}

.paper {
    height: 100%; /* Adjust as needed */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.paperRight {
    height: 100%; /* Adjust as needed */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transform: skewY(4deg); /* Adjust the skew angle */
    /*background-color: #F8F0E5;*/
    background: linear-gradient(to bottom, #fffbf5, #F8F0E5, #fde0e5);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 30px;
}

.paperLeft{
    height: 100%; /* Adjust as needed */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transform: skewY(-4deg); /* Adjust the skew angle */
    /*background-color: #EADBC8;*/
    background: linear-gradient(to bottom, #f6ecdf, #EADBC8, #fdd8df);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 30px;
}

#todaypart{
    position: absolute;
    float: left;
    height: 93%;
    width: 90%;
    align-self: center;
    justify-self: center;
    overflow: hidden;
}
.starRightEffect{
    width: 140px;
    height: 50px;
    position: absolute;
    justify-content: start;
    align-items: center;
    display: flex;
    gap: 10px;
}
.starLeftEffect{
    width: 140px;
    height: 50px;
    position: absolute;
    justify-content: end;
    align-items: center;
    display: flex;
    gap: 10px;
}
.starline{
    /*width: 90px;*/
    width: 0px;
    height: 1px;
    background-color: rgba(42, 3, 3, 0.51);
    transition: width 0.3s ease;
}
.rotatestar{
    /*width: 40px;*/
    /*height: 40px;*/
    width: 0px;
    height: 0px;
    background-image: url('/img/review/yellow_star.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*animation: spin 2s linear infinite;*/
    transition: width 0.2s ease, height 0.2s ease;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.todaymenu{
    z-index: 1;
    width: 300px;
    height: 100px;
    position: absolute;
    transform: translate(25%, 100px) skewY(-20deg);
    text-align: center;
    font-family: "Playwrite AU VIC", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
}
.todayimg{
    z-index: 3;
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transform: translate(85px, 60px);
}
.todayname{
    /*background-color: #fdd8df;*/
    position: absolute;
    transform: translate(7%, 430px);
    width: 400px;
    height: 100px;
    font-family: "Damion", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    text-align: center;
    white-space: nowrap;
    color: #54320F;
}
.todayprice{
    /*background-color: #fdd8df;*/
    position: absolute;
    transform: translate(7%, 510%);
    width: 400px;
    height: 100px;
    font-family: "Coming Soon", cursive;
    font-size: 30px;
    text-align: center;
    color: #54320F;
}
.todayinfo{
    /*background-color: #fdd8df;*/
    position: absolute;
    transform: translate(10%, 380%);
    width: 380px;
    height: 150px;
    font-family: "Coming Soon", cursive;
    font-size: 19px;
    text-align: center;
}
#leftwreath{
    z-index: 2;
    /*background-color: #fdd8df;*/
    position: absolute;
    transform: translate(40px, -350px);
    /*width: 180px;*/
    width: 180px;
    height: 360px;
    bottom: 0px;
    background-image: url('/img/menu/leftwreath.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: width 0.8s ease;
    transform-origin: right bottom;
    animation: leftwreathMove 5s infinite ease-in-out;
}
@keyframes leftwreathMove {
    0%, 100% {
        transform: translate(40px, -350px) rotate(0deg);
    }
    50% {
        transform: translate(40px, -350px) rotate(-9deg);
    }
}
#rightwreath{
    z-index: 2;
    /*background-color: #fdd8df;*/
    position: absolute;
    transform: translate(250px, -350px);
    /*width: 180px;*/
    width: 180px;
    height: 360px;
    bottom: 0px;
    background-image: url('/img/menu/rightwreath.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: width 0.8s ease;
    transform-origin: left bottom;
    animation: rightwreathMove 5s infinite ease-in-out;
}
@keyframes rightwreathMove {
    0%, 100% {
        transform: translate(250px, -350px) rotate(0deg);
    }
    50% {
        transform: translate(250px, -350px) rotate(9deg);
    }
}
#sunburst{
    z-index: 1;
    /*background-color: #fdd8df;*/
    position: absolute;
    transform: translate(90px, -370px);
    width: 300px;
    height: 300px;
    bottom: 0px;
    background-image: url('/img/menu/sunburst.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*opacity: 0;*/
    transition: opacity 0.8s ease;
    opacity: 0.8;
    animation: sunspin 20s linear infinite, sunopacity 4s linear infinite;
}
@keyframes sunspin {
    from {
        transform: translate(80px, -370px) rotate(0deg);
    }
    to {
        transform: translate(80px, -370px) rotate(360deg);
    }
}
@keyframes sunopacity {
    0%, 100% {
        opacity: 0.8;
    }
    50% {
        opacity: 0;
    }
}
#todaypart:hover{
    background-color: #fff8f3;
    /*cursor: url('/img/cursor/pointHand.png'), auto;*/
    cursor: pointer;
    #sunburst{
        /*opacity: 0.8;*/
        /*animation: sunspin 20s linear infinite;*/
    }
}
#todaylabel{
    z-index: 3;
    /*background-color: #fdd8df;*/
    position: absolute;
    transform: translate(100px, -290px);
    width: 300px;
    height: 140px;
    bottom: 0px;
    /*background-image: url('/img/menu/todaylabel.png');*/
    content: url('/img/menu/todaylabel.png');
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    transition: transform 0.8s ease, width 0.9s ease;
    /*animation: labelMove 3s infinite ease-in-out;*/
}
@keyframes labelMove {
    0%, 100% {
        transform: translate(100px, -280px);
    }
    50% {
        transform: translate(100px, -300px);
    }
}

.cocktailpart {
    /*background-color: aquamarine;*/
    height: 160px;
    /*margin-top: 10px;*/
    display: flex;
    justify-content: center;
    gap: 2%; /* 플렉스 아이템 간 10px 간격 설정 */
    align-items: center;
}

.thumbnail{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: cadetblue;*/
    width: 30%;
    height: 100%;
}
.explain{
    /*background-color: coral;*/
    width: 50%;
    height: 100%;
    position: relative; /* 자식 div의 기준이 되는 부모 div */
    overflow: hidden;
    align-items: center;
}

.cocktailname{
    font-family: "Damion", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    top: 15px;
    position: absolute;
    color: #512C1C;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.cocktailinfo{
    font-family: "Coming Soon", cursive;
    font-size: 15px;
    position: absolute;
    top: 60px;
    color: #512C1C;
    height: 43%;
    overflow: hidden;
    text-overflow: ellipsis;
    /*background-color: fuchsia;*/
}
.cocktailprice{
    font-family: "Coming Soon", cursive;
    font-size: 20px;
    position: absolute;
    width: 100px;
    height: 30px;
    left: 0px;
    bottom: 5px;
    color: #4d7267;
}
.cocktailbutton{
    position: absolute;
    width: 70px;
    height: 35px;

    right: 0px;
    bottom: 3px;

    /*display: flex;*/
    display: none;
    justify-content: end;
}
#cocktailadd{
    margin-left: 5px;
    width: 43%;
    height: 100%;
    /*background-color: #ffdcd9;*/
    background-image: url('/img/menu/addIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(63%) sepia(71%) saturate(461%) hue-rotate(309deg) brightness(101%) contrast(104%);
}
#cocktailadd:hover{
    /*cursor: url('/img/cursor/pointHand.png'), auto;*/
    cursor: pointer;
    filter: invert(39%) sepia(38%) saturate(1775%) hue-rotate(319deg) brightness(97%) contrast(85%);
}
#cocktaildetail{
    width: 47%;
    height: 100%;
    /*background-color: #ffdcd9;*/
    background-image: url('/img/menu/scopeIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(72%) sepia(15%) saturate(658%) hue-rotate(112deg) brightness(91%) contrast(87%);
}
#cocktaildetail:hover{
    /*cursor: url('/img/cursor/pointHand.png'), auto;*/
    cursor: pointer;
    filter: invert(47%) sepia(79%) saturate(372%) hue-rotate(113deg) brightness(92%) contrast(95%);
}

/*----------------------------------- footer*/
#footer{
    height: 600px;
    width: 600px;
    max-width: 1300px;  /* 최대 폭 지정 */
    margin-left: auto;
    margin-right: auto;
}