body {
    margin: 0;
    height: 100vh;
    background-color: #10573e;
    margin-bottom: 1000px;
    caret-color: transparent;
    overflow-x: hidden;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*------------------------------------------- main */
#decoContent{
    position: fixed;
    left: 0px;
    top: 200px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    pointer-events: none; /* 부모의 이벤트 무시 */
}

.deco{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40%;
    height: 40%;
    position: absolute;
}
#leftup{
    background-image: url('/img/maindeco/leftup.png');
    left: 0%;
    top: 0%;
    transition: left 0.5s ease; /* Smooth transition */
}
#rightup{
    background-image: url('/img/maindeco/rightup.png');
    right: 0%;
    top: 0%;
    transition: right 0.5s ease; /* Smooth transition */
}
#leftdown{
    background-image: url('/img/maindeco/leftdown.png');
    left: 0%;
    bottom: 0%;
    transition: left 0.5s ease; /* Smooth transition */
}
#rightdown{
    background-image: url('/img/maindeco/rightdown.png');
    right: 0%;
    bottom: 0%;
    transition: right 0.5s ease; /* Smooth transition */
}

#mainContent{
    position: relative;
    width: 100vw;
    height: 150vh;
    /*background-color: lightblue; !* 원하는 배경색 *!*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#menuText{
    font-family: "Meddon", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    color: #f8e9d7;
    transform: skewY(-20deg); /* Adjust the skew angle */
    position: absolute;
    top: 30%;
}

/*------------------------------------------- menu */
#menuContent{
    position: relative;
    top: 100px;
}
#menuBody{
    height: 1000px;
    /*max-width: 1300px;  !* 최대 폭 지정 *!*/
    margin-left: auto;
    margin-right: auto;
    /*background-color: #9eb0c5;*/
    overflow-x: hidden;
    overflow-y: hidden;
    /*scroll-behavior: smooth; !* Enable smooth scrolling *!*/
    background-color: rgba(27, 101, 75, 0);
    /*box-shadow: inset -10px 0 10px -5px rgba(0, 0, 0, 0.5), !* 왼쪽 그림자 *!*/
    /*            inset 10px 0 10px -5px rgba(0, 0, 0, 0.5);  !* 오른쪽 그림자 *!*/
}

#menuscroll{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 2800px;
    position: relative;
    top: 60px;
}
#menuscroll > div {
    flex-shrink: 0; /* Prevent child divs from shrinking */
}

.menuTitle {
    width: 500px;
    height: 800px;
    background: linear-gradient(to bottom, #f8e9d7, #DAC0A3, #dea4af);
    position: relative;
    top: -18px;
    padding-left: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuTitle #label{
    background-image: url('/img/menu/barLabel.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    transform: translate(-5%, -25%);
}
.menuTitle #labelText{
    font-family: "Meddon", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: #54320f;
    transform: skewY(-20deg); /* Adjust the skew angle */
    position: absolute;
    bottom: 250px;
}

.menu {
    width: 0px;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.paper {
    height: 100%; /* Adjust as needed */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.paperRight {
    height: 100%; /* Adjust as needed */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transform: skewY(4deg); /* Adjust the skew angle */
    /*background-color: #F8F0E5;*/
    background: linear-gradient(to bottom, #fffbf5, #F8F0E5, #fde0e5);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 30px;
}

.paperLeft{
    height: 100%; /* Adjust as needed */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transform: skewY(-4deg); /* Adjust the skew angle */
    /*background-color: #EADBC8;*/
    background: linear-gradient(to bottom, #f6ecdf, #EADBC8, #fdd8df);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 30px;
}

.cocktailpart {
    /*background-color: aquamarine;*/
    height: 160px;
    /*margin-top: 10px;*/
    display: flex;
    justify-content: center;
    gap: 2%; /* 플렉스 아이템 간 10px 간격 설정 */
    align-items: center;
}

.thumbnail{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: cadetblue;*/
    width: 30%;
    height: 100%;
}
.explain{
    /*background-color: coral;*/
    width: 50%;
    height: 100%;
    position: relative; /* 자식 div의 기준이 되는 부모 div */
    overflow: hidden;
    align-items: center;
}

.cocktailname{
    font-family: "Damion", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    top: 15px;
    position: absolute;
    color: #512C1C;
}
.cocktailinfo{
    font-family: "Coming Soon", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    top: 60px;
    color: #512C1C;
    height: 62%;
    /*background-color: fuchsia;*/
}
.cocktailbutton{
    position: absolute;
    width: 70px;
    height: 35px;
    /*background-color: cornflowerblue;*/

    right: 0px;
    bottom: 10px;

    /*display: flex;*/
    display: none;
    justify-content: space-between;
}
#cocktailadd{
    width: 43%;
    height: 100%;
    /*background-color: #ffdcd9;*/
    background-image: url('/img/menu/addIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(63%) sepia(71%) saturate(461%) hue-rotate(309deg) brightness(101%) contrast(104%);
}
#cocktailadd:hover{
    filter: invert(39%) sepia(38%) saturate(1775%) hue-rotate(319deg) brightness(97%) contrast(85%);
}
#cocktaildetail{
    width: 47%;
    height: 100%;
    /*background-color: #ffdcd9;*/
    background-image: url('/img/menu/scopeIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(72%) sepia(15%) saturate(658%) hue-rotate(112deg) brightness(91%) contrast(87%);
}
#cocktaildetail:hover{
    filter: invert(47%) sepia(79%) saturate(372%) hue-rotate(113deg) brightness(92%) contrast(95%);
}

/*----------------------------------- customer buttons*/
#cutomerButtons{
    position: fixed;
    /*background-color: fuchsia;*/
    width: 170px;
    height: 80px;
    left: 200px;
    z-index: 10;
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.19);
}
#cutomerButtons #buttonsbackground{
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    /*content: url("/img/management/menu.jpg");*/
    background-color: #FEF9F3;
}
#cutomerButtons #exit{
    position: absolute;
    margin: 30px;
    width: 25px;
    height: 25px;
    background-image: url('/img/common/exit.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(35%) sepia(3%) saturate(2314%) hue-rotate(314deg) brightness(89%) contrast(98%);
    right: 0px;
    top: 0px;
    z-index: 3;
}
#cutomerButtons #chat{
    width: 48%;
    height: 70%;
    /*background-color: chartreuse;*/
    background-image: url('/img/maindeco/chat.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(35%) sepia(3%) saturate(2314%) hue-rotate(314deg) brightness(89%) contrast(98%);
    color: #604c4c;
}
#cutomerButtons #board{
    width: 48%;
    height: 96%;
    /*background-color: darkorange;*/
    background-image: url('/img/maindeco/clipboard.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(35%) sepia(3%) saturate(2314%) hue-rotate(314deg) brightness(89%) contrast(98%);
}
#cartcontent{
    position: absolute;
    width: 85%;
    height: 64%;
    /*background-color: #b1d2c9;*/
    border-radius: 5px;
    z-index: 1;
    overflow-y: scroll;
    top: 60px;
}
#cartcontent::-webkit-scrollbar {
    width: 5px; /* 스크롤바 너비 */
    height: 5px; /*가로 스크롤바 높이*/
}
#cartcontent::-webkit-scrollbar-track {
    background:none; /* 트랙 배경 색상 */
    border-radius: 10px; /* 트랙 모서리 둥글게 */
}
#cartcontent::-webkit-scrollbar-thumb {
    background: #604c4c;
    border-radius: 10px; /* 핸들 모서리 둥글게 */
}
#cartcontent::-webkit-scrollbar-thumb:hover {
    background: #422626;
}
#cartline{
    width: 95%;
    height: 1px;
    background-color: #422626;
    margin-top: 7px;
    border-radius: 50%;
    position: relative;
    left: 2%;
}
#cartbox{
    margin-left: 2.5%;
    width: 95%;
    height: 110px;
    align-self: center;
    margin-top: 7px;
    /*background-color: chartreuse;*/
    display: flex;
    justify-content: center;
    gap: 10px;
}
#cartitemimg{
    /*background-color: azure;*/
    width: 30%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#cartiteminfo{
    /*background-color: chocolate;*/
    width: 60%;
    height: 100%;
    align-content: center;
    text-align: right;
    font-family: 'GmarketSansMedium';
    font-size: 15px;
}
#cartitemquantity{
    width: auto;
    height: 24px;
    /*background-color: #f5de8a;*/
    display: flex;
    justify-content: end;
    gap: 5px;
}
#quantityminus{
    height: 100%;
    width: 25px;
    background-image: url('/img/common/minusThin.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(162deg) brightness(102%) contrast(106%);
}
#quantityminus:hover{
    background-color: white;
    filter: invert(14%) sepia(26%) saturate(934%) hue-rotate(314deg) brightness(95%) contrast(90%);
}
#quantitytext{
    /*background-color: fuchsia;*/
    height: 100%;
}
#quantityplus{
    height: 100%;
    width: 25px;
    background-image: url('/img/common/addThin.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(162deg) brightness(102%) contrast(106%);
}
#quantityplus:hover{
    background-color: white;
    filter: invert(14%) sepia(26%) saturate(934%) hue-rotate(314deg) brightness(95%) contrast(90%);
}
#cartitemprice{
    /*float: right;*/
    /*width: 50%;*/
    height: 24px;
    /*background-color: #00ff04;*/
}
#cartitemname{
    font-family: 'GmarketSansBold';
    font-size: 20px;
}
#carttotal{
    /*background-color: darkkhaki;*/
    bottom: 50px;
    width: 85%;
    height: 13%;
    position: absolute;
    z-index: 1;
    text-align: end;
    align-content: center;
    color: #422626;
    font-family: 'GmarketSansBold';
    font-size: 30px;
    padding-right: 20px;
}
.hidden{
    display: none;
}

/*----------------------------------- footer*/
#footer{
    height: 600px;
    width: 600px;
    max-width: 1300px;  /* 최대 폭 지정 */
    margin-left: auto;
    margin-right: auto;
}

