body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    caret-color: transparent;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
#loadingsection{
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.8s ease;
}
#loading{
    width: 100vw;
    height: 100vh;
    background-color: #0D6965;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loadingimg{
    width: 100px;
    height: 100px;
    background-image: url('/img/common/aboutusloading.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#mainsection{
    width: 100vw;
    height: 100vh;
    /*background-color: rgba(236, 30, 55, 0.33);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container3D{
    position: absolute;
}
#card{
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #fff5e5;
    width: 800px;
    height: 200px;
    position: absolute;
    bottom: 150px;
    /*background-color: rgba(222, 184, 135, 0.44);*/
    text-align: center;
    align-content: center;
    overflow: hidden;
}
#goto{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    position: absolute;
    bottom: 160px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
#goto:hover {
    background-color: rgba(255, 248, 231, 0.45);
}
#duckImg{
    width: 50px;
    height: 50px;
    background-image: url('/img/header/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
